.component-find-index{
  .list-content ul{
    padding-top: 0.15rem;
  }
  .list-c1{
    width: 3.4rem;
    height: 1.24rem;
    margin: 0 auto;
    margin-bottom: 0.15rem;
    position: relative;

    .tip{
      width: 0.75rem;
      height: 0.26rem;
      position: absolute;
      top:0;
      left:0;
    }
    img{
      width: 3.4rem;
      height: 1.24rem;
      max-width: 3.4rem;
    }
  }

}


