.component-find-index{
  .list-content{
    margin-top: 0.15rem;
  }
  .list-c1{
    width: 3.4rem;
    height: 1.24rem;
    margin: 0 auto;
    margin-bottom: 0.15rem;
    .tip{
      width: 0.75rem;
      height: 0.26rem;
      position: fixed;
    }
    img{
      width: 3.4rem;
      height: 1.24rem;
      max-width: 3.4rem;
    }
  }

}


