.component-find-index{
  //index页面
  .list-content ul{
    padding-top: 0.15rem;
  }
  .list-c1{
    width: 3.4rem;
    height: 1.24rem;
    margin: 0 auto;
    margin-bottom: 0.15rem;
    position: relative;

    .tip{
      width: 0.75rem;
      height: 0.26rem;
      position: absolute;
      top:0;
      left:0;
    }
    img{
      width: 3.4rem;
      height: 1.24rem;
      max-width: 3.4rem;
    }
  }

//  list页面
  @mixin bg-wihte{
    background-color: #FFFFFF;
  }
  .list-banner{
    padding-top: 0.15rem;
    padding-bottom: 0.16rem;
    text-align: center;
    @include bg-wihte;
    img{
      width: 3.4rem;
      max-width: 3.4rem;
      height: 1.5rem;
      margin: 0 auto;
    }
  }
  //数据显示
  .list.model-data{
    position: relative;
    height: 0.4rem;
    @include bg-wihte;
    .list-data{
      height: 0.22rem;
      text-align: center;
      p{
        font-size: 0.12rem;
        text-align: center;
        color: #9b9b9b;
        line-height: 0.22rem;
        span{
          font-size: 0.22rem;
          color:#298cff;
          margin-left: 0.1rem;
        }
      }
    }
  }
  //定义一个混入
  @mixin blockmodel($colorp1,$colorp2){
    p:nth-of-type(1){
      font-size: 0.22rem;
      text-align: center;
      color:$colorp1;
    }
    p:nth-of-type(2){
      margin-top: 0.08rem;
      font-size: 0.12rem;
      text-align: center;
      color: $colorp2;
    }
  }
  // 定义一个map，作为混入参数
  $tolist:(
          colorp1:#298cff,
          colorp2: #9b9b9b
  );
  .content-data{
    height: 0.4rem;
    // 通过map类型作为参数，引用混入。
    @include blockmodel($tolist...);
    overflow: hidden;
  }

  //价格显示
  .list-price{
    font-size: 0.12rem;
    color: #4a4a4a;
    text-align: center;
    position: relative;
    border-top: 1px solid #f3f3f3;
    .list-price-1{
      float: left;
      width: 1.85rem;
      height: 0.55rem;
      p:nth-of-type(1){
        margin-top: 0.1rem;
        line-height: 0.2rem;
      }
    }
  }



  //查询
  .list-search{
    height: 0.64rem;
    border-top: 1px solid #f3f3f3;
    position: relative;
    background: #FFFFFF;
    .search-content-1{
      width: 2.8rem;
      height: 0.4rem;
      box-sizing: border-box;
      border:1px solid #e5e5e5;
      border-radius:0.04rem 0 0 0.04rem;
      float: left;
      margin-left: 0.15rem;
      margin-top: 0.12rem;
      img{
        width: 0.12rem;
        height: 0.12rem;
        display: inline-block;
        margin: 0 0.04rem;
      }
      input{
        line-height: 0.4rem;
        font-size: 0.13rem;
        width: 2.45rem;
      }
    }
    .search-content-2{
      width: 0.64rem;
      height: 0.4rem;
      border-radius: 0 0.04rem 0.04rem 0;
      background-color: #298cff;
      font-size:0.15rem;
      line-height: 0.4rem;
      text-align: center;
      float: left;
      margin-top: 0.12rem;
      button{
        color: #ffffff;
      }
    }
  }
  .blank-space{
    width: 3.75rem;
    height: 0.1rem;
    background-color: #f2f2f2;
  }
  .list-btn{
    text-align: center;
    @include bg-wihte;
  }
  .btn-invite{
    width: 3.4rem;
    height: 0.48rem;
    color: #FFFFFF;
    font-size: 0.2rem;
    margin: 0.15rem auto;
    border-radius: 0.28rem;
    background-image: linear-gradient(rgba(254, 112, 92, 0.5), rgba(254, 112, 92, 0.5)), linear-gradient(96deg, #fe705c, #ffc565);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  }
  .list-title{
    width: 3.75rem;
    height: 0.51rem;
    border-bottom: 1px solid #e5e5e5;
    @include bg-wihte;
    .title-inner{
      width: 3.4rem;
      position: relative;
      margin: 0 auto;
      padding-top: 0.15rem;
      p{
        color: #888888;
        font-size: 0.14rem;
        float: left;
      }
      img{
        width: 0.22rem;
        height: 0.22rem;
        float: right;
      }
    }
  }
  //健康福利-订单部分
  table, td, th{
    border: none;
    word-wrap:break-word;
    word-break:break-all;
  }
  td,th{
    padding:0;
  }
  .list-order{
    li{
      margin-bottom: 1px;
    }
  }
  .order-content{
    position: relative;
    background-color: #f2f2f2;
    padding-bottom: 0.05rem;
    //border-bottom: 1px solid #d2d2d2;
    .order-con-1{
      width:2.8rem;
      font-size: 0.13rem;
      color: #9b9b9b;
      line-height: 0.2rem;
      margin-left: 0.2rem;
    }
    tr{
      vertical-align: top;
      td:nth-of-type(1){
        width: 25%;
        padding-top: 0.15rem;
      }
      td:nth-of-type(2){
        width: 75%;
        padding-top: 0.15rem;
        color: #4a4a4a;
      }
    }
    .floatleft{
      position: relative;
      width: 3.55rem;
      text-align: center;
      color: #9b9b9b;
      line-height: 0.33rem;
      padding-top: 0.15rem;
      padding-bottom: 0.45rem;
      p{
        float: left;
      }
      div{
        float: left;
        width: 1.2rem;
        height: 0.33rem;
        border: solid 1px #dcdcdc;
        background: #f9f9f9;
        margin-left: 0.1rem;
        margin-right: 0.05rem;
      }
      .chose{
        background: #298cff;
        color: #FFFFFF;
      }
    }

    .order-con-2{
      width:3.42rem;
      font-size: 0.13rem;
      color: #9b9b9b;
      line-height: 0.2rem;
      margin: 0 auto;
      margin-top: 0.2rem;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12);
      border:1px solid #f1f1f1;
      border-radius: 0.04rem;
      td{
        padding-left: 0.1rem;
      }

    }
  }
  .order-content2 {
    border: 1px solid #e5e5e5;
    border-radius: 0.04rem;
    width: 3.45rem;
    margin: 0 auto;
    padding-bottom: 0.15rem;
    margin-top: 0.15rem;
    .order-con-3 {
      width: 3.3rem;
      font-size: 0.13rem;
      color: #9b9b9b;
      line-height: 0.2rem;
    }
    tr {
      vertical-align: top;
      td:nth-of-type(1) {
        width: 25%;
        padding-top: 0.15rem;
        padding-left: 0.15rem;
      }
      td:nth-of-type(2) {
        width: 75%;
        padding-top: 0.15rem;
        color: #4a4a4a;
      }
    }
  }
  .push{
    position: absolute;
    z-index: 2;
     img{
       width: 0.2rem;
       height: 0.2rem;
       margin: 0 auto;
     }
   }
  .list-list{
    @include bg-wihte;
    width: 3.75rem;
    padding-top: 0.15rem;
    padding-bottom: 0.05rem;
    .list-li{
      width: 3.1rem;
      margin: 0 auto;
      border-bottom: 1px solid #d2d2d2;
      font-size: 0.13rem;
      line-height: 0.26rem;
      padding: 0.1rem 0.15rem ;
      border: 1px solid #E4E4E4;
      border-radius: 4px;
      margin-bottom: 0.15rem;
      position: relative;
      .li-l{
        height: 0.26rem;
        position: relative;
        p:nth-of-type(1){
          color: #9b9b9b;
          float: left;
        }
        p:nth-of-type(2){
          color: #4a4a4a;
          float: right;
        }
      }
      .li-l.li-l-right{
         p:nth-of-type(2){
           margin-right: 0.25rem;
         }
       }
    }

    .list-fangqi{
      padding-top: 0.1rem;
      border-top: 1px solid #E4E4E4;
    }
    .li-fangqi,.li-delet{
      width: 0.8rem;
      height: 0.3rem;
      border: 1px solid #E4E4E4;
      border-radius: 0.04rem;
      text-align: center;
      line-height: 0.3rem;
      margin: 0 auto;
    }
  }


//  邀请有奖页
  .yaoqing-c1{
    width: 3.75rem;
    height: 1.515rem;
  }
  .yaoqing-c2{
    width: 3.75rem;
    //height: 1.265rem;
    .btn{
      text-align: center;
    }
  }
  .yaoqing-c3{
    text-align: center;
    margin-top: -0.1rem;
    .btn-yeji{
      width: 3.4rem;
      height: 0.48rem;
      color: #fe8159;
      font-size: 0.2rem;
      margin: 0.15rem auto;
      border-radius: 0.28rem;
      background-color: #FFFFFF;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
      border: solid 2px #fe8159;
    }
  }
  .outer{
    position: relative; /* or absolute */
    /* unnecessary styling properties */
    width: 3.75rem;
    text-align: center;
    margin: 0 auto;
    p{
      font-size: 0.16rem;
      width: 3.75rem;
      text-align: center;
    }
    .p-money{
      padding-top: 1.2rem;
      span{
        color: #fe8159;
      }
    }
    .p-id{
      font-size: 0.18rem;
      padding-top:0.2rem;
      span{
        color: #298cff;
      }
    }
  }
  .title{
    width: 100%;
    margin:0 auto;
    margin-top: 0.25rem;
    margin-bottom: 0.1rem;
    img{
      width: 2.2rem;
      height: 100%;
      margin: 0 auto;
    }
    p{
      font-size: 0.15rem;
      color: #fb9002;
      text-align: center;
      margin-top: -0.12rem;
    }
  }
  .text-content{
    .text-one{
      position: relative;
      width: 3.2rem;
      margin: 0 auto;
    }
    .dot{
      width: 0.05rem;
      height:0.05rem;
      background-color: #fb9002;
      position: absolute;
      top: 0.07rem;
      left: 0
    }
    p{
      width: 3rem;
      font-size:0.14rem;
      line-height: 1.8;
      color: #8d5000;
      margin: 0 auto;
      padding-left: 0.1rem;
    }
  }
  .form-content{
    width: 3.75rem;
    height: 0.6rem;
    background-color: #FFFFFF;
    position: relative;
    .form-title{
      width: 1rem;
      float: left;
      .title{
        width: 0.56rem;
        height: 0.6rem;
        font-size: 0.14rem;
        line-height: 0.6rem;
        color: #4a4a4a;
        text-align: justify;
        text-align-last:justify;
        margin: 0 0.2rem;
      }
    }

    .form-input{
      width:2.75rem;
      height: 0.6rem;
      border-bottom: 1px solid #d2d2d2;
      box-sizing: border-box;
      float: right;
      position: relative;
      vertical-align: middle;
      input,textarea{
        width:2.75rem;
        height: 0.6rem;
        font-size: 0.14rem;
        line-height: 0.2rem;
        vertical-align: middle;
      }
    }
  }
  .btn-tijiao{
    width: 3.4rem;
    height: 0.45rem;
    line-height: 0.45rem;
    border-radius: 0.04rem;
    background-color: #298cff;
    font-size: 0.18rem;
    color: #FFFFFF;
    margin: 0.15rem auto;
  }

  // 健康保障订单页
  //订单底部按钮
  .order-btn{
    width:3.75rem;
    height: 0.75rem;
    border-top:0.0005rem solid #d2d2d2;
    position: fixed;
    bottom: 0;
    z-index: 7;
    font-size: 0.16rem;
    color: #ffffff;
    line-height: 0.46rem;
    text-align: center;
    background-color: #FFFFFF;
    .btn-increase{
      width: 1.62rem;
      height: 0.46rem;
      border-radius: 0.04rem;
      background-color: #00ceb2;
      float: left;
      margin-top: 0.16rem;
      margin-left: 0.15rem;
    }
    .btn-submit{
      width: 1.62rem;
      height: 0.46rem;
      border-radius:0.04rem;
      background-color: #298cff;
      float: right;
      margin-top: 0.16rem;
      margin-right: 0.15rem;
    }
  }
//  订单内容开始
  .order-space{
    padding-bottom: 0.8rem;
    .order-space-none{
      text-align: center;
      padding-top:0.45rem;
      img{
        margin: 0 auto;
      }
      p{
        font-size: 0.14rem;
        color: #333d50;
        margin-top: 0.4rem;
      }
    }
  }
  // 健康保障订单页结束

  //订单提交地址页
  .btn-copy{
    width: 0.43rem;
    height: 0.24rem;
    border-radius: 0.12rem;
    border: solid 1px #979797;
    color: #495060;
    text-align: center;
    font-size: 0.11rem;
    line-height: 0.24rem;
    position: absolute;
    right: 0.2rem;
    z-index: 2;
  }
  .order-tips{
    width: 3.1rem;
    height:0.9rem;
    padding: 0.15rem;
    margin: 0 auto;
    margin-top: 0.15rem;
    background-color: #ffe9e9;
    border: solid 1px #dcdcdc;
    font-size: 0.14rem;
    color: #333d50;
    line-height: 0.24rem;
    .tips-content{
      p:nth-of-type(1){
        font-size: 0.18rem;
        color: #fe596d;
        float: left;
        margin-right: 0.1rem;
        line-height: 0.14rem;
        margin-top: 0.08rem;
      }
      p:nth-of-type(2){
        float: left;
      }
    }
  }
  .input-wallet{
    .input-title{
      font-size: 0.14rem;
      color: #333d50;
      line-height: 0.24rem;
      margin-left: 0.2rem;
      margin-top: 0.2rem;
      p:nth-of-type(1){
        font-size: 0.18rem;
        color: #fe596d;
        float: left;
        margin-right: 0.1rem;
        line-height: 0.14rem;
        margin-top: 0.08rem;
      }
      p:nth-of-type(2){
        float: left;
      }
    }
    .input-content{
      text-align: center;
      margin-top: 0.1rem;
    }
    textarea{
      padding:0.1rem 0.15rem;
      width:3.1rem ;
      height: 0.44rem;
      background-color: #f9f9f9;
      border: solid 1px #dcdcdc;
      margin: 0 auto;
      font-size: 0.13rem;
      line-height: 0.2rem;
      color: #888888;
      overflow: hidden;
      word-break: break-all;
    }
    .btn-input{
      text-align: center;
      margin-top: 0.4rem;
      button{
        width: 3.45rem;
        height: 0.45rem;
        border-radius: 0.04rem;
        background-color: #298cff;
        font-size: 0.18rem;
        line-height: 0.45rem;
        text-align: center;
        color: #ffffff;
      }
    }
  }

  .yeji-add{
    position: relative;
    width: 3.75rem;
    margin: 0 auto;
    p{
      float: left;
      font-size: 0.13rem;
      color: #333d50;
      margin-left: 0.15rem;
    }
    img{
      width: 0.06rem;
      height:0.12rem;
      float: right;
      margin-right: 0.15rem;
      margin-top: 0.02rem;
    }
  }

  .yeji-content2{
    width: 3.75rem;
    height: 0.4rem;
    background-color: #f2f2f2;
    position: relative;
    margin: 0 auto;
    text-align: center;
    p{
      float: left;
      font-size: 0.13rem;
      color: #333d50;
      width: 1.85rem;
      height: 0.4rem;
      line-height: 0.4rem;
    }
  }

  .yeji-content{
    margin-bottom: 0.4rem;
    .yeji-list{
      width:3.45rem;
      font-size: 0.14rem;
      color: #333d50;
      line-height: 0.5rem;
      margin: 0 auto;
      text-align: center;
    }
    tr{
      border-bottom: solid 1px #e4e4e4;
      td:nth-of-type(1){
        width: 25%;
      }
      td:nth-of-type(2){
        width: 25%;
      }
      td:nth-of-type(3){
        width: 25%;
      }
      td:nth-of-type(4){
        width: 20%;
        text-align: center;
      }
    }
  }

  //健康保障分享下载
  .find-downlaod{
    background:#171551 url('../images/find/download-bg.png') no-repeat bottom center;
    background-size: cover;
    width: 3.75rem;
    height: 6.6rem;
    text-align: center;
    color: #FFFFFF;

    img:nth-of-type(1){
      width:1.95rem;
      height: 0.66rem;
      margin: 0 auto;
      padding-top: 0.4rem;
    }
    p:nth-of-type(1){
      font-size: 0.2rem;
      font-weight: 700;
      margin-top: 0.15rem;
    }
    p:nth-of-type(2){
      font-size: 0.3rem;
      font-weight: 700;
      letter-spacing: 1.5px;
      margin-top: 0.02rem;
    }
    p:nth-of-type(3){
      font-size: 0.16rem;
      margin-top: 0.1rem;
    }
    p:nth-of-type(4){
      font-size: 0.15rem;
      margin-top: 0.25rem;
    }
    .invite-number{
      font-size: 0.26rem;
      letter-spacing: 4.3px;
      color: #298cff;
      background: #FFFFFF;
      padding: 0.1rem;
      border-radius: 0.04rem;
      width: 1rem;
      margin: 0 auto;
      margin-top: 0.05rem;
      margin-bottom: 0.25rem;
    }
    img:nth-of-type(2){
      width: 0.9rem;
      height: 0.9rem;
      margin: 0 auto;
      margin-bottom: 0.25rem;
    }

    $height:.5rem;
    .btn-download{
      width: 2.7rem;
      height: $height;
      background: #1B7DE2;
      color: #FFFFFF;
      margin: 0 auto;
      font-size: .19rem;
      text-align:center;
      line-height:$height;
      border-radius:$height/8;
      &.btn-ios{
        background: #74B4FF;
      }
    }

    #window-download{
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: #000000;
      background-color:rgba(0,0,0,0.5);
      z-index: 3;
      top: 0;
      .content{
        width: 3rem;
        height: 2rem;
        margin: 0 auto;
        padding-top: .4rem;
        #close{
          width: .17rem;
          height: .17rem;
          position: absolute;
          top:.4rem;
          left: .4rem;
        }
      }
    }

  }

}


.ivu-select-single .ivu-select-selection {
  height: 0.6rem;
  width: 2.75rem;
}











