html {
  font-size: 100px; }

html, body {
  background: #ffffff; }

* {
  padding: 0;
  margin: 0; }

img {
  border-style: none; }

html, body, div, img {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

.wrap {
  width: 3.75rem;
  max-width: 3.75rem;
  margin: 0 auto;
  font-size: 0.16rem; }

img {
  display: block; }

.content-body {
  padding: 0 0.2rem;
  background-color: #FFFFFF; }

.content-1 {
  font-size: 0.19rem;
  color: #4A4A4A;
  font-weight: 700;
  line-height: 0.19rem;
  text-align: center;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem; }

.content-2 {
  width: 3.3rem;
  height: 1rem;
  border-radius: 0.04rem;
  border: solid 1px #979797;
  font-size: 0.15rem;
  color: #495060;
  line-height: 0.25rem;
  text-align: center;
  margin-bottom: 0.3rem; }
  .content-2 p:first-of-type {
    margin-top: 0.13rem; }

.content-3 {
  font-size: 0.17rem;
  color: #4A4A4A;
  font-weight: 700;
  line-height: 0.17rem;
  margin-right: 0.1rem;
  margin-bottom: 0.2rem; }
  .content-3 div {
    width: 0.05rem;
    height: 0.17rem;
    background-color: #7427e4;
    display: inline-block; }
  .content-3 p {
    margin-left: 0.2rem;
    margin-top: -0.18rem; }

table {
  border-collapse: collapse; }

table, td, th {
  border: 1px solid #979797; }

td, th {
  padding: 0.1rem; }

.content-4 table {
  width: auto;
  color: #4a4a4a;
  margin-bottom: 0.3rem; }
  .content-4 table th {
    font-size: 0.15rem; }
  .content-4 table td {
    font-size: 0.13rem; }

.content-5 {
  font-size: 0.15rem;
  color: #4A4A4A; }
  .content-5 p {
    margin-bottom: 0.2rem; }

.content-6 .content-6-1 {
  font-size: 0.15rem;
  color: #222222;
  margin-bottom: 0.3rem; }
  .content-6 .content-6-1 p:nth-of-type(2) {
    font-size: 0.14rem;
    margin-bottom: 0.05rem; }
  .content-6 .content-6-1 .part-1 {
    font-size: 0.18rem;
    color: #FF3824;
    margin-top: 1px;
    display: inline-block;
    line-height: 0;
    vertical-align: middle; }
.content-6 .input-text {
  width: 3.2rem;
  height: 0.4rem;
  line-height: 0.4rem;
  vertical-align: top;
  padding: 0 6px;
  font-size: 0.15rem;
  color: #222222;
  background: #FFF;
  border: 1px solid #C3C9D0;
  border-radius: 4px; }
.content-6 .text-1 {
  display: inline-block;
  margin-left: 0.05rem;
  margin-top: -0.1rem;
  font-size: 0.15rem;
  color: #4A4A4A; }

.content-7 {
  margin-bottom: 0.5rem; }
  .content-7 button {
    width: 3.35rem;
    height: 0.4rem;
    font-size: 0.16rem;
    color: #FFFFFF;
    background-color: #1B7DE2;
    border: 0px;
    border-radius: 4px; }

.tips {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 8; }
  .tips .tips-bg {
    width: 2.6rem;
    height: 2.7rem;
    background-color: #FFFFFF;
    border-radius: 8px;
    z-index: 9;
    margin: 0 auto;
    margin-top: 1.6rem;
    text-align: center; }
  .tips .tips-close {
    width: 0.2rem;
    height: 0.2rem;
    padding-top: 0.1rem;
    padding-left: 2.25rem; }
  .tips .tips-imgSuccess {
    width: 0.54rem;
    height: 0.55rem;
    margin: 0 auto;
    padding-top: 0.15rem;
    padding-bottom: 0.2rem; }
  .tips .tips-title {
    font-size: 0.2rem;
    color: #000000; }
  .tips .tips-title2 {
    font-size: 0.14rem;
    color: #666666;
    padding-top: 0.3rem; }

.tuijian-title {
  margin: 0 auto;
  text-align: center;
  padding-top: 0.2rem; }
  .tuijian-title img {
    display: inline-block;
    width: 0.35rem;
    vertical-align: middle;
    margin-top: -0.04rem; }
  .tuijian-title p {
    font-size: 0.16rem;
    display: inline-block;
    padding: 0 0.1rem; }

.tuijian-content {
  text-align: center;
  margin: 0.18rem auto; }
  .tuijian-content .input-text {
    width: 2.8rem;
    height: 0.25rem;
    line-height: 0.2rem;
    vertical-align: top;
    padding: 0.1rem 0.1rem;
    font-size: 0.15rem;
    color: #222222;
    background: #f9f9f9;
    border: 1px solid #dcdcdc;
    word-break: break-all;
    overflow: auto;
    resize: none; }

.tuijian-btn {
  text-align: center; }
  .tuijian-btn button {
    margin-top: 0.1rem;
    margin-bottom: 0.4rem;
    width: 3rem;
    height: 0.45rem;
    font-size: 0.16rem;
    color: #FFFFFF;
    background-color: #1B7DE2;
    border: 0px;
    border-radius: 4px; }

.space {
  height: 0.15rem;
  background-color: #f8f8f9; }

.tuijianren-list .content {
  height: 0.9rem;
  border-bottom: 1px solid #e4e4e4;
  width: 3.6rem; }
  .tuijianren-list .content img {
    display: inline-block;
    position: relative;
    top: 0.32rem; }
  .tuijianren-list .content img:nth-of-type(1) {
    width: 0.2rem;
    height: 0.22rem;
    left: 2.6rem; }
  .tuijianren-list .content img:nth-of-type(2) {
    width: 0.22rem;
    height: 0.22rem;
    left: 2.7rem; }
  .tuijianren-list .content p {
    font-size: 0.15rem;
    content: #495060;
    line-height: 0.2rem;
    padding-top: -0.1rem; }

.tuijian-bg {
  background-color: #f8f8f9; }

/*# sourceMappingURL=investors-fuli.css.map */
