<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.bootcss.com/iview/2.4.0/styles/iview.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/vue/2.4.4/vue.js"></script>
    <script src="https://cdn.bootcss.com/iview/2.4.0/iview.min.js"></script>
    <script src="https://cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="public/js/layout.js"></script>
    <link rel="stylesheet" href="public/css/app.css">
</head>
<body>


<!--职信链，样式头为 c (chain小写) 例

头部 c-header
底部 c-footer
组件 c-component-组件名（公用部分）

无特别意义的逻辑结构以 相对有意义模块名 后，层级数字标识
例： c-component-组件名 下

组件名1>组件名1-1.

或

组件名-head>组件名-head-top>（组件名-head-top-1+组件名-head-top-2+组件名-head-top-3）

 -->

<div class="wrap" id="app">
    <!--component-Modal 申请获得授权/Application Authorization-->
    <Modal v-model="modal1" :footer-hide="true" width="900">
        <div class="component-modal-auth">
            <div class="modal-1">
                <div class="add-employ-container">
                    <div class="add-employ-head">
                        <div class="add-employ-title">
                            <span class="e-title-1">申请获得授权</span><span class="e-title-2">/Newly Increased</span>
                        </div>
                    </div>

                    <div class="add-employ-body text-center">
                        <div class="body-1">
                            <i-input placeholder="请输入身份证号" size="large" style="width: 360px;"></i-input>
                        </div>
                        <div class="body-2">
                            <i-button type="primary" size="large" style="width: 360px;">立即申请</i-button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </Modal>
    <Modal v-model="modal2" :footer-hide="true" width="900">
        <div class="component-modal-auth">
            <div class="modal-2">
                <div class="add-employ-container">
                    <div class="add-employ-head">
                        <div class="add-employ-title">
                            <div class="e-title-1">
                                <Icon type="android-checkmark-circle"></Icon>
                            </div>
                            <div class="e-title-2">授权申请发送成功！</div>
                        </div>
                    </div>

                    <div class="add-employ-body text-center">
                        <div class="body-1">
                            <span>
                                授权申请已发送，请等待该员工处理。处理完毕后，您可以在消息中看到结果。
                            </span>
                        </div>
                        <div class="body-2">
                            <i-button type="primary" size="large" style="width: 360px;">确定</i-button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </Modal>
    <Modal v-model="modal3" :footer-hide="true" width="900">
        <div class="component-modal-auth">
            <div class="modal-3">
                <div class="add-employ-container">
                    <div class="add-employ-head">
                        <div class="add-employ-title">
                            <div class="e-title-1">
                                <Icon type="android-alert"></Icon>
                            </div>
                            <div class="e-title-2">授权申请发送失败！</div>
                        </div>
                    </div>

                    <div class="add-employ-body text-center">
                        <div class="body-1">
                            <span>
                                该员工不存在于职信链中，我们将再次发送短信申请。
                            </span>
                        </div>
                        <div class="body-3">
                            <i-input placeholder="请输入手机号码" size="large" style="width: 360px;"></i-input>
                        </div>
                        <div class="body-2">
                            <i-button type="primary" size="large" style="width: 360px;">立即申请</i-button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </Modal>
    <Modal v-model="modal4" :footer-hide="true" width="900">
    <div class="component-modal-auth">
        <div class="modal-4">
            <div class="add-employ-container">
                <div class="add-employ-head">
                    <div class="add-employ-title">
                        <span class="e-title-1">授权发送中</span><span class="e-title-2">/Send In</span>
                    </div>
                </div>

                <div class="add-employ-body text-center">
                    <div class="body-1">
                        <i-progress :percent="percent"></i-progress>
                    </div>
                </div>

            </div>
        </div>
    </div>
</Modal>
    <div class="c-header">
    <div class="c-head-logo">
        <img src="public/images/logo.png" width="334" alt="职信链LOGO">
    </div>
    <div class="c-head-menu">
        <ul class="head-menu-ul">
            <li>
                <a href="">购买</a>
            </li>
            <li>
                <a href="#">职信在线搜索</a>
                <!--<img src="public/images/head-search.png" width="26" alt="职信链搜索按钮">-->
            </li>
            <li>
                <div>
                    <!--badge count代表消息数 默认99封顶-->
                    <badge count="1">
                        <a href="#" class="head-message-badge"><img src="public/images/head-mail.png" width="26" alt="消息(0)"></a>
                    </badge>
                </div>
            </li>
            <li>
                <div class="c-head-user">
                    <div class="user-photo">
                        <a href=""><img src="public/images/head-photo.png" width="39" alt="用户头像">
                            <span>董兴海</span></a>
                    </div>
                    <div>
                        <img src="public/images/head-line.png" width="2" alt="">
                    </div>
                    <div class="user-logOut">
                        <img src="public/images/head-exit.png" style="cursor: pointer;" width="26" alt="退出">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
    <div class="c-body">
        <div class="c-body-left left">
            <div class="body-left-search">
                <auto-complete
                        v-model="value"
                        icon="ios-search"
                        :data="data"
                        placeholder="搜索员工"
                        @on-search="handleSearch"
                        style="width:290px">
                </auto-complete>
            </div>
            <div class="body-left-CName">
                职信链科技有限公司
            </div>
            <div class="left-body-container">
                <!--在职员工-->
                <div class="tree-employ employ-on">
                    <div class="employ-on-block">
                        <img class="employ-icon" src="public/images/tree-employ.png" width="23" alt="在职员工">
                        <span class="employ-title">
                        在职员工
                    </span>
                        <span class="employ-count">
                        (3)
                    </span>
                    </div>
                </div>

                <!--组件-树-->
                <div class="component-tree">
                    <component-tree v-bind:tree='treeData'></component-tree>
                </div>

                <!--添加部门-->
                <div class="tree-addGroup">
                    <icon type="plus-round"></icon><span>添加部门</span>
                </div>

                <!--系统设置-->
                <div class="tree-setting">
                    <icon type="gear-a"></icon><span>系统设置</span>
                </div>

                <!--离职员工-->
                <div class="tree-employ employ-off">
                    <div class="employ-on-block">
                        <img class="employ-icon" src="public/images/tree-employ-off.png" width="23" height="23" alt="离职员工">
                        <span class="employ-title">
                        已离职员工
                    </span>
                        <span class="employ-count">
                        (1)
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-body-container clearFix">


            <!--添加员工 组件部分-->
            <div class="component-employ-add">
                <div class="add-employ-container">
                    <div class="add-employ-head">
                        <div class="add-employ-title">
                            <span class="e-title-1">新增员工职信</span><span class="e-title-2">/Newly Increased</span>
                        </div>
                        <div class="add-employ-waring">
                            新增员工职信需要获得员工本人授权 <i-button type="primary" size="large" v-on:click="modalAuth">点此申请获得授权</i-button>
                        </div>
                        <div>
                            <img src="public/images/employ/icon-assess-dashLine.png" width="412" alt="">
                        </div>
                        <div class="add-employ-contact">
                            <span>如有问题请联系客服：</span><span class="employ-contact-phone">400-6190828</span>
                        </div>
                        <div class="splite">
                            <!--分割线-->
                        </div>

                    </div>

                    <div class="add-employ-body clearFix">
                        <Card style="width: 100%;">
                            <div class="body-1">
                                <div class="edit-info edit-2">
                                    <div class="edit-info-1">
                                        <div>姓名 ：</div>
                                        <div>
                                            <i-input class="form-el" placeholder="请输入" value="庞丁畅"></i-input>
                                        </div>
                                    </div>
                                    <div>
                                        <div>性别 ： </div>
                                        <div>
                                            <i-select v-model="model1" class="form-el" placeholder="请选择">
                                                <i-option v-for="item in cityList" :value="item.value" :key="item.value">{{ item.label }}</i-option>
                                            </i-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="edit-info edit-3">
                                    <div class="edit-info-1">
                                        <div>身份证号 ：</div>
                                        <div>
                                            <i-input class="form-el" :disabled="true" placeholder="请输入" value="371327199001016415"></i-input>
                                        </div>
                                    </div>
                                    <div>
                                        <div>手机号 ：</div>
                                        <div>
                                            <i-input class="form-el" placeholder="请输入" value="15805322430"></i-input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center" style="margin-top: 50px;">
                                <img src="public/images/employ/icon-assess-dashLine.png" width="700" height="1" alt="">
                            </div>
                            <div class="body-2">
                                <div class="edit-info edit-2">
                                    <div>职位：</div>
                                    <div>
                                        <i-input placeholder="请输入" class="form-el"></i-input>
                                    </div>
                                </div>
                                <div class="edit-info edit-3">
                                    <div>部门：</div>
                                    <div>
                                        <i-select v-model="model1" class="form-el">
                                            <i-option v-for="item in cityList" :value="item.value" :key="item.value">{{ item.label }}</i-option>
                                        </i-select>
                                        <div>

                                        </div>
                                    </div>
                                </div>
                                <div class="edit-info edit-4">
                                    <div>薪资：</div>
                                    <div>
                                        <div>
                                            <i-input placeholder="请输入" class="form-el"></i-input>
                                            <span>元/月</span>
                                        </div>
                                        <div style="margin-top: 15px;">
                                            <i-switch size="large">
                                                <span slot="open">显示</span>
                                                <span slot="close">隐藏</span>
                                            </i-switch>
                                            该员工的职信被在线搜索查看时，薪资是否显示
                                        </div>
                                    </div>
                                </div>
                                <div class="edit-info edit-5">
                                    <div>新增劳动合同起止时间：</div>
                                    <div>
                                        <row class="form-el">
                                            <i-col span="12">
                                                <date-picker type="daterange" placement="top-end" placeholder="选择日期" style="width: 260px;font-size: 12px;"></date-picker>
                                            </i-col>
                                        </row>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center" style="margin-top: 50px;">
                                <img src="public/images/employ/icon-assess-dashLine.png" width="700" height="1" alt="">
                            </div>


                            <div class="edit-7">
                                <div>
                                    <i-button type="ghost" class="edit-7-cancel" v-on:click="assessInfoShow('6')">取消</i-button>
                                    <i-button type="primary" class="edit-7-ok">保存</i-button>
                                </div>
                            </div>

                        </Card>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


<!--tree 模板-->
<script type="html/x-template" id="component-tree">

    <div class="employ-group">

        <!--忽略根节点,输出目录-->
        <div v-if="!tree.root" class="box group-box member-box">
            <!--目录ico逻辑-->
            <div class="box-icon" v-on:click="click" openValue="openValue">
                <!--部门icon-->
                <template v-if="openValue==='.'">
                    <img v-bind:src="tree.photo" width="28" alt="图标">
                </template>
                <!--员工icon-->
                <template v-else>
                    <img src="public/images/tree-group.png" width="19" alt="图标">
                    <img class="arrow-rotate-none" v-bind:class="{'arrow-rotate':open}" src="public/images/tree-arrow.png" style="margin-left: 4px;" width="7" alt="">
                </template>
            </div>
            <!--部门和员工名称-->
            <div v-if="!editStatus" v-on:click="edit" class="box-content">
                <span>{{tree.title}}</span>
            </div>
            <!--编辑状态-->
            <div v-else class="box-content"><i-input v-model="groupName" placeholder="请输入..." size="small" style="width: 100px;"></i-input><span v-on:click.stop="save(tree.id)"><img
                    src="public/images/tree-group-edit.png" width="16" style="margin-left: 8px;margin-top: -2px;" alt=""></span></div>
            <!--控制状态-->
            <div v-if="tree.dataList && !tree.root && !editStatus" class="box-control">
                <dropdown @on-click="dropDown" placement="bottom-end">
                    <a href="javascript:void(0)">
                        添加
                        <icon type="arrow-down-b"></icon>
                    </a>
                    <dropdown-menu slot="list">
                        <dropdown-item name="E">员工</dropdown-item>
                        <dropdown-item name="G">部门</dropdown-item>
                    </dropdown-menu>
                </dropdown>
            </div>
        </div>
        <!--递归树-->
        <component-tree v-show="open" v-bind:tree="tree" v-for="tree in tree.dataList" key="tree.id"></component-tree>

    </div>

</script>

<!--评价，汽泡查看、添加组件-->
<script type="html/x-template" id="component-assess-add-tip">
    <div class="component-assess-add-tip" v-if="data.show">
        <poptip width="200" placement="top">
            <i-button type="text" size="small">查看</i-button>
            <div class="api" slot="content">
                {{data.date}}
            </div>
        </poptip>
        <poptip width="200" placement="top" v-model="visible">
            <i-button type="text" size="small">添加</i-button>
            <div class="api" slot="content">
                <div>
                    <i-input placeholder="添加"></i-input>
                </div>
                <div style="padding:10px 0 ;">
                    <i-button type="text" size="small" @click="close">取消</i-button>
                    <i-button type="primary" size="small">保存</i-button>
                </div>
            </div>
        </poptip>
    </div>
    <div class="component-assess-add-tip" v-else>
        <poptip width="200" placement="top" v-model="visible">
            <i-button type="text" size="small">添加</i-button>
            <div class="api" slot="content">
                <div>
                    <i-input placeholder="添加"></i-input>
                </div>
                <div style="padding:10px 0 ;">
                    <i-button type="text" size="small" @click="close">取消</i-button>
                    <i-button type="primary" size="small">保存</i-button>
                </div>
            </div>
        </poptip>
    </div>
</script>

<!--下面暂时不用-->
<script type="html/x-template" id="component-modal-auth">

    <div class="component-modal-auth">
        <div class="modal-1">
            <div class="add-employ-container">
                <div class="add-employ-head">
                    <div class="add-employ-title">
                        <span class="e-title-1">申请获得授权</span><span class="e-title-2">/Newly Increased</span>
                    </div>
                </div>

                <div class="add-employ-body text-center">
                    <div style="margin-top: 66px;">
                        <i-input placeholder="请输入身份证号" size="large" style="width: 360px;"></i-input>
                    </div>
                    <div style="margin-top: 44px; margin-bottom: 88px;">
                        <i-button type="primary" size="large" style="width: 360px;">立即申请</i-button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</script>



<script>
//    tree-item component

/***
 * 组件树
 * @params
 * open 展开当前树 <Boolean>
 * groupName 添加/编辑，部门 <String>
 * tempName 保存添加/编辑，部门的临时字段 <String>
 * editStatus 编辑状态 <Boolean>
 *
 * @method
 * 见名识意
 */

    Vue.component('ComponentTree', {
        template:'#component-tree',
        props:['tree'],
        data:function(){
            return {
                // 展开当前树,节点类型
                open:false,
                // 添加/编辑，部门
                groupName:'',
                tempName:'',
                // 编辑状态
                editStatus:false,
            }
        },
        computed:{
            openValue:function(){
                return !this.open&&this.tree.dataList?'+':(this.tree.dataList?'-':'.')
            }
        },
        mounted:function(){

            if(this.tree.open){
                this.open=true
            }else{
                this.tree.root?this.open=true:this.open;
            }

        },
        methods: {
            click:function(){
                this.open=!this.open
            },
            add:function(type){
                if(this.tree.dataList){
                    var isGroup= type=='G'?true:false;
                    if(isGroup){
                        var _this = this;
                        this.$Modal.confirm({
                            render:function(h){
                                return h('Input',{
                                    props:{
                                        placeholder:'请输入部门名称'
                                    },
                                    on:{
                                        'input':function(val){

                                            _this.groupName = val
                                        }
                                    }
                                })
                            },
                            onOk:function(){
                                if(_this.groupName==''){
                                    _this.$Message.info('添加失败，内容不能为空！')
                                    return;
                                }
                                _this.tree.dataList.push({id:_.uniqueId('tree_'),title:_this.groupName,dataList:[]});
                            },
                            onCancel:function(){

                            }
                        });

                    }else{
                        var dataLists = _.filter(this.tree.dataList,function(item){
                            if(item.dataList){
                                return true;
                            }
                        })
                        var listLength = dataLists.length;
                        var oListLength = this.tree.dataList.length;
                        this.tree.dataList.splice(oListLength-listLength,0,{id:_.uniqueId('tree_'),title:'员工'+_.uniqueId(),photo:'public/images/tree-photo-default.png'})
                    }
                    // 添加部门或员工时打开菜单
                    this.open=true;
                }
            },
            edit:function(){
                if(!this.tree.dataList||this.tree.root) return;
                this.groupName = this.tree.title;
                this.tempName = this.tree.title;
                this.editStatus=!this.editStatus;
            },
            remove:function(id){
                prune(treeData.dataList,id)
            },
            // save && delete
            save:function(id){
                if(this.groupName===''){
                    var _this = this;
                    this.$Modal.confirm({
                            title: '确认删除？',
                            content: '<p>确认删除后，部门下成员将一并删除！</p>',
                            onOk: () => {
                            this.$Message.info('删除成功');
                    prune(treeData.dataList,id)
                },
                    onCancel: () => {
                        _this.tree.title =_this.tempName;
                        this.$Message.info('取消操作');
                    }
                });
                }
                this.tree.title = this.groupName;
                this.editStatus=false;
            },
            dropDown:function (v) {
               this.add(v)
            }
        }
    })
/**
 * 组件-添加备注
 *
 *
 */
    Vue.component('ComponentAssessAddTip',{
        template:'#component-assess-add-tip',
        props:['data'],
        data:function () {
            return {
                visible: false
            }
        },
        methods:{
            close () {
                this.visible = false;
            }
        }
    })
/**
 * 组件-modal-授权
 *
 *
 */
Vue.component('ComponentModalAuth',{
    template:'#component-modal-auth',
    data:function () {
        return{

        }
    },
    methods:{

    }
})




    var treeData =
        {
            id:'0',
            title:'青岛英网资讯股份有限公司',
            root:true,
            dataList:[
                {
                    id:'1',
                    title:'总裁办',
                    dataList:[
                        {
                            id:'11',
                            title:'创始人-老总',
                            photo:'public/images/tree-photo1.png'
                        }
                    ]
                },
                {
                    id:'2',
                    title:'技术中心',
                    open:true,
                    dataList:[
                        {
                            id:'3',
                            title:'周蕾',
                            photo:'public/images/tree-photo2.png'
                        },
                        {
                            id:'4',
                            title:'李文静',
                            photo:'public/images/tree-photo3.png'
                        },
                        {
                            id:'5',
                            title:'PHP开发',
                            dataList:[
                                {
                                    id:'6',
                                    title:'王小笨',
                                    photo:'public/images/tree-photo1.png'
                                }
                            ]
                        }
                    ]
                },
                {
                    id:'7',
                    title:'产品部门',
                    dataList:[
                        {
                            id:'10',
                            title:'庞丁畅',
                            photo:'public/images/tree-photo1.png'
                        }
                    ]
                },
                {
                    id:'8',
                    title:'行政部门',
                    dataList:[
                        {
                            id:'9',
                            title:'衣晶晶',
                            photo:'public/images/tree-photo1.png'
                        }
                    ]
                }
            ]
        }

    // 树删除节点
    function prune(array, id) {
        for (var i = 0; i < array.length; ++i) {
            var obj = array[i];
            if (obj.id === id) {
                array.splice(i, 1);
                return true;
            }
            if (obj.dataList) {
                if (prune(obj.dataList, id)) {
                    if (obj.dataList.length === 0) {
                        // delete obj.dataList;
                        // array.splice(i, 1);
                    }
                    return true;
                }
            }
        }
    }
/***
 * 实例根vue，处理初始数据和vuex状态管理
 * @params
 * value 搜索员工 <String>
 * data 搜索员工结果 <Array>
 * treeData 组件树异步数据 <String>
 *
 * @method
 * handleSearch 搜索员工事件
 */
    new Vue({
        data: function () {
            return {
                value:'',
                data:[],
                treeData:treeData,




                //不当在这里，属于年度总评组件内属性。


                name:"2",//被选中Tab
                assessInfoBase:false,//第一个tab开关状态
                assessInfoBase2:true,//第2个tab开关状态
                assessInfoBase3:false,//第3个tab开关状态
                assessInfoBase4:false,//第4个tab开关状态
                assessInfoBase5:true,//年度总评开关状态
                assessInfoBase6:true,//基础信息编辑开关状态

                percent: 80,
                dropdown2_text:'职信链科技有限公司',

                columns1: [
                    {
                        title: '年份及月度',
                        key: 'title',
                        className:'t-columns1'
                    },
                    {
                        title: '月度评分',
                        key: 'score',
                        className:'t-columns2'
                    }
                ],
                data1: [
                    {
                        title: '2017.8',
                        score: 8
                    },
                    {
                        title: '2017.7',
                        score: 7
                    },
                    {
                        title: '2017.6',
                        score: 8
                    },
                ],
//table2
                columns2: [
                    {
                        title: '年份及月度',
                        key: 'date',
                        className:'t-columns1'
                    },
                    {
                        title: '排名情况',
                        key: 'order',
                        className:'t-columns2'
                    },
                    {
                        title: '业绩额',
                        key: 'performance',
                        className:'t-columns3'
                    },
                    {
                        title: '员工意见',
                        key: 'recommend',
                        className:'t-columns4'
                    },
                    {
                        title: '企业备注',
                        key: 'remark',
                        render: (h, params) => {
                            return h('div', [
                                h('component-assess-add-tip',{
                                    props:{
                                        data:this.data2[params.index]
                                    }
                                })
                            ]);
                        }
                    }
                ],
                data2: [
                    {
                        date: '2017.8',
                        order: '靠前',
                        performance: '50万',
                        recommend: '认同'
                    },
                    {
                        date: '2017.7',
                        order: '靠前',
                        performance: '60万',
                        recommend: '认同',
                        show:true
                    },
                    {
                        date: '2017.6',
                        order: '靠前',
                        performance: '70万',
                        recommend: '认同'
                    }

                ],
//table3
                columns3: [
                    {
                        title: '年份及月度',
                        key: 'date',
                        className:'t-columns1'
                    },
                    {
                        title: '考勤排名',
                        key: 'order',
                        className:'t-columns2'
                    },
                    {
                        title: '员工意见',
                        key: 'recommend',
                        className:'t-columns3'
                    },
                    {
                        title: '企业备注',
                        key: 'remark',
                        render: (h, params) => {
                            return h('div', [
                                h('ComponentAssessAddTip',{
                                    props:{
                                        data:this.data2[params.index]
                                    }
                                })
                            ]);
                        }
                    }
                ],
                data3: [
                    {
                        date: '2017.8',
                        order: '靠前',
                        recommend: '认同'
                    },
                    {
                        date: '2017.7',
                        order: '靠前',
                        recommend: '认同',
                        show:true
                    },
                    {
                        date: '2017.6',
                        order: '靠前',
                        recommend: '认同'
                    }

                ],
//                table4
                columns4: [
                    {
                        title: '年份及月度',
                        key: 'title',
                        className:'t-columns1'
                    },
                    {
                        title: '月度评分',
                        key: 'score'
                    }
                ],
                data4: [
                    {
                        title: '2017.8',
                        score: '业绩突出，奖励1万元'
                    },
                    {
                        title: '2017.7',
                        score: '业绩突出，奖励1万元'
                    },
                    {
                        title: '2017.6',
                        score: '业绩突出，奖励1万元'
                    },
                ],



//                编辑数据
                cityList: [
                    {
                        value: 'beijing',
                        label: '北京市'
                    },
                    {
                        value: 'shanghai',
                        label: '上海市'
                    },
                    {
                        value: 'shenzhen',
                        label: '深圳市'
                    },
                    {
                        value: 'hangzhou',
                        label: '杭州市'
                    },
                    {
                        value: 'nanjing',
                        label: '南京市'
                    },
                    {
                        value: 'chongqing',
                        label: '重庆市'
                    }
                ],
                model1: '',
                modal1:true,
                modal2:true,
                modal3:true,
                modal4:true
            }
        },
        methods: {
            handleSearch : function(value) {
                this.data = !value ? [] : [
                    value,
                    value + value,
                    value + value + value
                ];
            },

//            属于年度总评组件
            dropdown2:function (v) {
                this.dropdown2_text = v;
            },
            show (index) {
                this.$Modal.info({
                    title: '用户信息',
                    content: `${this.data2[index].date}`
                })
            },
            remove (index) {
                this.data2.splice(index, 1);
            },
            assessInfoShow(name){

                switch(name){
                    case '1':
                        this.assessInfoBase=!this.assessInfoBase;
                        break;
                    case '2':
                        this.assessInfoBase2=!this.assessInfoBase2;
                        break;
                    case '3':
                        this.assessInfoBase3=!this.assessInfoBase3;
                        break;
                    case '4':
                        this.assessInfoBase4=!this.assessInfoBase4;
                        break;
                    case '5':
                        this.assessInfoBase5=!this.assessInfoBase5;
                        break;
                    case '6':
                        this.assessInfoBase6=!this.assessInfoBase6;
                        break;
                    default:
                        break;
                }

            },
            modalAuth:function () {
                this.modal1=!this.modal1
            }

        }
    }).$mount('#app')
</script>


</body>
</html>