<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.bootcss.com/iview/2.4.0/styles/iview.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/vue/2.4.4/vue.js"></script>
    <script src="https://cdn.bootcss.com/iview/2.4.0/iview.min.js"></script>
    <script src="https://cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="public/js/layout.js"></script>
    <link rel="stylesheet" href="public/css/app.css">
</head>
<body>


<!--职信链，样式头为 c (chain小写) 例

头部 c-header
底部 c-footer
组件 c-component-组件名（公用部分）

无特别意义的逻辑结构以 相对有意义模块名 后，层级数字标识
例： c-component-组件名 下

组件名1>组件名1-1.

或

组件名-head>组件名-head-top>（组件名-head-top-1+组件名-head-top-2+组件名-head-top-3）

 -->

<div class="wrap" id="app">
    <div class="c-header">
        <div class="c-head-logo">
            <img src="public/images/logo.png" width="334" alt="职信链LOGO">
        </div>
        <div class="c-head-menu">
            <ul class="head-menu-ul">
                <li>
                    <a href="">购买</a>
                </li>
                <li>
                    <a href="#">职信在线搜索</a>
                    <!--<img src="public/images/head-search.png" width="26" alt="职信链搜索按钮">-->
                </li>
                <li>
                    <div>
                        <!--badge count代表消息数 默认99封顶-->
                        <badge count="1">
                            <a href="#" class="head-message-badge"><img src="public/images/head-mail.png" width="26" alt="消息(0)"></a>
                        </badge>
                    </div>
                </li>
                <li>
                    <div class="c-head-user">
                        <div class="user-photo">
                            <a href=""><img src="public/images/head-photo.png" width="39" alt="用户头像">
                                <span>董兴海</span></a>
                        </div>
                        <div>
                            <img src="public/images/head-line.png" width="2" alt="">
                        </div>
                        <div class="user-logOut">
                            <img src="public/images/head-exit.png" style="cursor: pointer;" width="26" alt="退出">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="c-body">
        <!--登录后的 员工 页面   组件部分  -->
        <div class="component-employ-info-single">
            <div class="employ-leave clearFix">
                <div class="leave-icon">
                    <img src="public/images/employ/icon-leave-employ.png" width="231" alt="">
                </div>
                <div class="leave-date right">
                    离职时间：2017.2.20
                </div>
            </div>
            <Card class="employ-info-single">
                <div class="employ-container">
                    <!--基础信息-->
                    <div class="employ-base clearFix">
                        <div class="base-left left">
                            <div class="base-score">
                                <span class="score-1">职信总评分</span>
                                <span class="score-2">8.5</span>
                                <span class="score-3">分</span>
                            </div>
                            <div class="base-info">
                        <span class="base-name">
                            庞丁畅
                        </span>
                                <span class="base-sex">
                            性别：男
                        </span>
                                <span class="base-cardID">
                            身份证号：371327xxxxxxxx6415
                        </span>
                                <span class="base-phone">
                            手机号：158xxxx2430
                        </span>

                            </div>
                        </div>
                        <div class="base-right right">
                    <span class="base-photo">
                        <img src="public/images/employ/employ-base-photo.png" width="166" alt="">
                    </span>
                        </div>
                    </div>
                    <div class="line"></div>
                    <!--评价-->
                    <div class="employ-assess">
                        <div class="assess-operate clearFix overflow">
                            <!--选择所在单位，添加信息-->
                            <div class="operate-select left">
                                <dropdown placement="bottom-end" v-on:on-click="dropdown2">
                                    <div class="select-text">
                                        <span>就职于</span><span class="select-value">{{dropdown2_text}}</span><span>期间职信（目前在职）</span>
                                        <icon type="arrow-down-b"></icon>
                                    </div>
                                    <dropdown-menu slot="list">
                                        <dropdown-item name="职信链科技有限公司">职信链科技有限公司</dropdown-item>
                                        <dropdown-item name="英网股份">英网股份</dropdown-item>
                                    </dropdown-menu>
                                </dropdown>
                            </div>
                        </div>

                        <!--展示年度总评-->
                        <div class="assess-year clearFix overflow">
                            <div class="assess-year-container">
                                <div class="assess-box left">
                                    <!--员工表现-->
                                    <div class="box-head">
                                        <div class="head-title">
                                            2016年度员工表现
                                        </div>
                                        <div class="head-timeLine">
                                            <img src="public/images/icon-assess-year.png" width="10" alt="" height="10">
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <!--2016年度-->
                                        <div class="body-1">
                                            <i-circle
                                                    :size="160"
                                                    :trail-width="4"
                                                    :stroke-width="5"
                                                    :percent="90"
                                                    stroke-linecap="square"
                                                    stroke-color="#43a3fb">
                                                <div class="circle-custom">
                                                    <div class="custom-1"><span>9</span><span class="custom-1-2">分</span></div>
                                                    <div class="custom-2 line"></div>
                                                    <span class="custom-3">2016年度
                                                <br>
    员工表现</span>
                                                </div>
                                            </i-circle>
                                        </div>
                                        <div class="body-2">
                                            <div class="assess-title">2016年度总评</div>
                                            <div class="assess-desc">
                                                <div class="line"></div>
                                                <div>
                                                    主导完成了小职了PC端、APP及微信微站共十几个版本的产品原型设计及需求文档撰写工作，输出质量及效率可以达到公司对产品经理岗位的要求。在产品思维、商业模式探索等方面取得了一些进步。
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="assess-box left">
                                    <!--员工表现-->
                                    <div class="box-head">
                                        <div class="head-title">
                                            2015年度员工表现
                                        </div>
                                        <div class="head-timeLine">
                                            <img src="public/images/icon-assess-year.png" width="10" alt="" height="10">
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <!--2016年度-->
                                        <div class="body-1">
                                            <i-circle
                                                    :size="160"
                                                    :trail-width="4"
                                                    :stroke-width="5"
                                                    :percent="80"
                                                    stroke-linecap="square"
                                                    stroke-color="#43a3fb">
                                                <div class="circle-custom">
                                                    <div class="custom-1"><span>8</span><span class="custom-1-2">分</span></div>
                                                    <div class="custom-2 line"></div>
                                                    <span class="custom-3">2015年度
                                                <br>
    员工表现</span>
                                                </div>
                                            </i-circle>
                                        </div>
                                        <div class="body-2">
                                            <div class="assess-title">2015年度总评</div>
                                            <div class="assess-desc">
                                                <div class="line"></div>
                                                <div>
                                                    主导完成了小职了PC端、APP及微信微站共十几个版本的产品原型设计及需求文档撰写工作，输出质量及效率可以达到公司对产品经理岗位的要求。在产品思维、商业模式探索等方面取得了一些进步。
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="assess-info overflow">
                            <tabs v-model="name">
                                <tab-pane name="1" label="基本信息" icon="document-text">
                                    <div v-show="name==1" class="component-assess-info-base" v-bind:class="{'tab-active':name==1}">
                                        <div class="assess-tab assess-info-base">
                                            <div class="employ-info">
                                                <div class="e-i-1">部门：</div>
                                                <div class="e-i-2">
                                                    <ul>
                                                        <div>
                                                            产品设计部
                                                        </div>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="employ-info">
                                                <div class="e-i-1">职位：</div>
                                                <div class="e-i-2">
                                                    <ul>
                                                        <div>
                                                            产品经理
                                                        </div>
                                                        <li><Icon type="ios-timer-outline"></Icon>（ 历史职位：产品专员  2014.12.20 至 2015.12.19 ）</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="employ-info">
                                                <div class="e-i-1">薪资：</div>
                                                <div class="e-i-2">
                                                    <ul>
                                                        <div>
                                                            7000 元/月
                                                        </div>
                                                        <li><Icon type="ios-timer-outline"></Icon>（ 历史薪资：5000元/月  2014.12.20 至 2015.12.19 ）</li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="employ-info">
                                                <div class="e-i-1">劳动合同：</div>
                                                <div class="e-i-2">
                                                    <ul>
                                                        <div>
                                                            2014.12.20 至 2019.12.19
                                                        </div>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </tab-pane>
                                <tab-pane name="2" label="月度评价" icon="document-text">
                                    <div v-show="name==2" class="component-assess-info-month" v-bind:class="{'tab-active':name==2}">
                                        <div class="assess-tab assess-info-month">

                                            <div class="month-table-container">

                                                <div class="month-table-1">
                                                    <div class="table-title">评分情况：</div>
                                                    <i-table border :columns="columns1" :data="data1"></i-table>
                                                </div>

                                                <div class="month-table-2">
                                                    <div class="table-title">业绩情况：</div>
                                                    <i-table border :columns="columns2" :data="data2"></i-table>
                                                </div>

                                                <div class="month-table-3">
                                                    <div class="table-title">考勤情况：</div>
                                                    <i-table border :columns="columns3" :data="data3"></i-table>
                                                </div>

                                                <div class="month-table-4" row-class-name="table4_hide_head">
                                                    <div class="table-title">奖惩情况：</div>
                                                    <i-table border :columns="columns4" :data="data4"></i-table>
                                                </div>

                                                <div class="time-line">
                                                    <div class="table-title">评语：</div>
                                                    <timeline>
                                                        <timeline-item>
                                                            <div class="time"><span class="icon-time-line-arrow"></span>业绩突出，再接再厉</div>
                                                        </timeline-item>
                                                        <timeline-item>
                                                            <div class="time"><span class="icon-time-line-arrow"></span>业绩突出，奖励1万元</div>
                                                        </timeline-item>
                                                        <timeline-item>
                                                            <div class="time"><span class="icon-time-line-arrow"></span>业绩突出，奖励1万元，业绩突出，奖励1万元,业绩突出，奖励1万元,业绩突出，奖励1万元业绩突出，奖励1万元业绩突出，奖励1万元业绩突出，奖励1万元业绩突出，奖励1万元，业绩突出，奖励1万元,业绩突出，奖励1万元,业绩突出</div>
                                                        </timeline-item>
                                                    </timeline>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </tab-pane>
                                <tab-pane name="3" label="季度评价" icon="document-text">
                                    <div v-show="name==3" class="component-assess-info-q" v-bind:class="{'tab-active':name==3}">
                                        <div class="assess-tab assess-info-q">
                                            效果同月度-组件化
                                        </div>
                                    </div>
                                </tab-pane>
                                <tab-pane name="4" label="年度评价" icon="document-text">
                                    <div v-show="name==4" class="component-assess-info-year" v-bind:class="{'tab-active':name==4}">
                                        <div class="assess-tab assess-info-year">
                                            效果同月度-组件化
                                        </div>
                                    </div>
                                </tab-pane>
                            </tabs>
                        </div>
                    </div>
                </div>
            </Card>
        </div>

    </div>
</div>

<!--tree 模板-->
<script type="html/x-template" id="component-tree">

    <div class="employ-group">

        <!--忽略根节点,输出目录-->
        <div v-if="!tree.root" class="box group-box member-box">
            <!--目录ico逻辑-->
            <div class="box-icon" v-on:click="click" openValue="openValue">
                <!--部门icon-->
                <template v-if="openValue==='.'">
                    <img v-bind:src="tree.photo" width="28" alt="图标">
                </template>
                <!--员工icon-->
                <template v-else>
                    <img src="public/images/tree-group.png" width="19" alt="图标">
                    <img class="arrow-rotate-none" v-bind:class="{'arrow-rotate':open}" src="public/images/tree-arrow.png" style="margin-left: 4px;" width="7" alt="">
                </template>
            </div>
            <!--部门和员工名称-->
            <div v-if="!editStatus" v-on:click="edit" class="box-content">
                <span>{{tree.title}}</span>
            </div>
            <!--编辑状态-->
            <div v-else class="box-content"><i-input v-model="groupName" placeholder="请输入..." size="small" style="width: 100px;"></i-input><span v-on:click.stop="save(tree.id)"><img
                    src="public/images/tree-group-edit.png" width="16" style="margin-left: 8px;margin-top: -2px;" alt=""></span></div>
            <!--控制状态-->
            <div v-if="tree.dataList && !tree.root && !editStatus" class="box-control">
                <dropdown @on-click="dropDown" placement="bottom-end">
                    <a href="javascript:void(0)">
                        添加
                        <icon type="arrow-down-b"></icon>
                    </a>
                    <dropdown-menu slot="list">
                        <dropdown-item name="E">员工</dropdown-item>
                        <dropdown-item name="G">部门</dropdown-item>
                    </dropdown-menu>
                </dropdown>
            </div>
        </div>
        <!--递归树-->
        <component-tree v-show="open" v-bind:tree="tree" v-for="tree in tree.dataList" key="tree.id"></component-tree>

    </div>

</script>

<!--评价，汽泡查看、添加组件-->
<script type="html/x-template" id="component-assess-add-tip">
    <div class="component-assess-add-tip" v-if="data.show">
        <poptip width="200" placement="top">
            <i-button type="text" size="small">查看</i-button>
            <div class="api" slot="content">
                {{data.date}}
            </div>
        </poptip>
        <poptip width="200" placement="top" v-model="visible">
            <i-button type="text" size="small">添加</i-button>
            <div class="api" slot="content">
                <div>
                    <i-input placeholder="添加"></i-input>
                </div>
                <div style="padding:10px 0 ;">
                    <i-button type="text" size="small" @click="close">取消</i-button>
                    <i-button type="primary" size="small">保存</i-button>
                </div>
            </div>
        </poptip>
    </div>
    <div class="component-assess-add-tip" v-else>
        <poptip width="200" placement="top" v-model="visible">
            <i-button type="text" size="small">添加</i-button>
            <div class="api" slot="content">
                <div>
                    <i-input placeholder="添加"></i-input>
                </div>
                <div style="padding:10px 0 ;">
                    <i-button type="text" size="small" @click="close">取消</i-button>
                    <i-button type="primary" size="small">保存</i-button>
                </div>
            </div>
        </poptip>
    </div>
</script>

<script>
//    tree-item component
/***
 * 组件树
 * @params
 * open 展开当前树 <Boolean>
 * groupName 添加/编辑，部门 <String>
 * tempName 保存添加/编辑，部门的临时字段 <String>
 * editStatus 编辑状态 <Boolean>
 *
 * @method
 * 见名识意
 */

    Vue.component('ComponentTree', {
        template:'#component-tree',
        props:['tree'],
        data:function(){
            return {
                // 展开当前树,节点类型
                open:false,
                // 添加/编辑，部门
                groupName:'',
                tempName:'',
                // 编辑状态
                editStatus:false,
            }
        },
        computed:{
            openValue:function(){
                return !this.open&&this.tree.dataList?'+':(this.tree.dataList?'-':'.')
            }
        },
        mounted:function(){

            if(this.tree.open){
                this.open=true
            }else{
                this.tree.root?this.open=true:this.open;
            }

        },
        methods: {
            click:function(){
                this.open=!this.open
            },
            add:function(type){
                if(this.tree.dataList){
                    var isGroup= type=='G'?true:false;
                    if(isGroup){
                        var _this = this;
                        this.$Modal.confirm({
                            render:function(h){
                                return h('Input',{
                                    props:{
                                        placeholder:'请输入部门名称'
                                    },
                                    on:{
                                        'input':function(val){

                                            _this.groupName = val
                                        }
                                    }
                                })
                            },
                            onOk:function(){
                                if(_this.groupName==''){
                                    _this.$Message.info('添加失败，内容不能为空！')
                                    return;
                                }
                                _this.tree.dataList.push({id:_.uniqueId('tree_'),title:_this.groupName,dataList:[]});
                            },
                            onCancel:function(){

                            }
                        });

                    }else{
                        var dataLists = _.filter(this.tree.dataList,function(item){
                            if(item.dataList){
                                return true;
                            }
                        })
                        var listLength = dataLists.length;
                        var oListLength = this.tree.dataList.length;
                        this.tree.dataList.splice(oListLength-listLength,0,{id:_.uniqueId('tree_'),title:'员工'+_.uniqueId(),photo:'public/images/tree-photo-default.png'})
                    }
                    // 添加部门或员工时打开菜单
                    this.open=true;
                }
            },
            edit:function(){
                if(!this.tree.dataList||this.tree.root) return;
                this.groupName = this.tree.title;
                this.tempName = this.tree.title;
                this.editStatus=!this.editStatus;
            },
            remove:function(id){
                prune(treeData.dataList,id)
            },
            // save && delete
            save:function(id){
                if(this.groupName===''){
                    var _this = this;
                    this.$Modal.confirm({
                            title: '确认删除？',
                            content: '<p>确认删除后，部门下成员将一并删除！</p>',
                            onOk: () => {
                            this.$Message.info('删除成功');
                    prune(treeData.dataList,id)
                },
                    onCancel: () => {
                        _this.tree.title =_this.tempName;
                        this.$Message.info('取消操作');
                    }
                });
                }
                this.tree.title = this.groupName;
                this.editStatus=false;
            },
            dropDown:function (v) {
               this.add(v)
            }
        }
    })
/**
 * 组件-添加备注
 *
 *
 */
    Vue.component('ComponentAssessAddTip',{
        template:'#component-assess-add-tip',
        props:['data'],
        data:function () {
            return {
                visible: false
            }
        },
        methods:{
            close () {
                this.visible = false;
            }
        }
    })






    var treeData =
        {
            id:'0',
            title:'青岛英网资讯股份有限公司',
            root:true,
            dataList:[
                {
                    id:'1',
                    title:'总裁办',
                    dataList:[
                        {
                            id:'11',
                            title:'创始人-老总',
                            photo:'public/images/tree-photo1.png'
                        }
                    ]
                },
                {
                    id:'2',
                    title:'技术中心',
                    open:true,
                    dataList:[
                        {
                            id:'3',
                            title:'周蕾',
                            photo:'public/images/tree-photo2.png'
                        },
                        {
                            id:'4',
                            title:'李文静',
                            photo:'public/images/tree-photo3.png'
                        },
                        {
                            id:'5',
                            title:'PHP开发',
                            dataList:[
                                {
                                    id:'6',
                                    title:'王小笨',
                                    photo:'public/images/tree-photo1.png'
                                }
                            ]
                        }
                    ]
                },
                {
                    id:'7',
                    title:'产品部门',
                    dataList:[
                        {
                            id:'10',
                            title:'庞丁畅',
                            photo:'public/images/tree-photo1.png'
                        }
                    ]
                },
                {
                    id:'8',
                    title:'行政部门',
                    dataList:[
                        {
                            id:'9',
                            title:'衣晶晶',
                            photo:'public/images/tree-photo1.png'
                        }
                    ]
                }
            ]
        }

    // 树删除节点
    function prune(array, id) {
        for (var i = 0; i < array.length; ++i) {
            var obj = array[i];
            if (obj.id === id) {
                array.splice(i, 1);
                return true;
            }
            if (obj.dataList) {
                if (prune(obj.dataList, id)) {
                    if (obj.dataList.length === 0) {
                        // delete obj.dataList;
                        // array.splice(i, 1);
                    }
                    return true;
                }
            }
        }
    }
/***
 * 实例根vue，处理初始数据和vuex状态管理
 * @params
 * value 搜索员工 <String>
 * data 搜索员工结果 <Array>
 * treeData 组件树异步数据 <String>
 *
 * @method
 * handleSearch 搜索员工事件
 */
    new Vue({
        data: function () {
            return {
                value:'',
                data:[],
                treeData:treeData,

                //不当在这里，属于年度总评组件内属性。

                name:"1",

                percent: 0,
                dropdown2_text:'职信链科技有限公司',

                columns1: [
                    {
                        title: '年份及月度',
                        key: 'title',
                        className:'t-columns1'
                    },
                    {
                        title: '月度评分',
                        key: 'score',
                        className:'t-columns2'
                    }
                ],
                data1: [
                    {
                        title: '2017.8',
                        score: 8
                    },
                    {
                        title: '2017.7',
                        score: 7
                    },
                    {
                        title: '2017.6',
                        score: 8
                    },
                ],
//table2
                columns2: [
                    {
                        title: '年份及月度',
                        key: 'date',
                        className:'t-columns1'
                    },
                    {
                        title: '排名情况',
                        key: 'order',
                        className:'t-columns2'
                    },
                    {
                        title: '业绩额',
                        key: 'performance',
                        className:'t-columns3'
                    },
                    {
                        title: '员工意见',
                        key: 'recommend',
                        className:'t-columns4'
                    },
                    {
                        title: '企业备注',
                        key: 'remark',
                        render: (h, params) => {
                            return h('div', [
                                h('component-assess-add-tip',{
                                    props:{
                                        data:this.data2[params.index]
                                    }
                                })
                            ]);
                        }
                    }
                ],
                data2: [
                    {
                        date: '2017.8',
                        order: '靠前',
                        performance: '50万',
                        recommend: '认同'
                    },
                    {
                        date: '2017.7',
                        order: '靠前',
                        performance: '60万',
                        recommend: '认同',
                        show:true
                    },
                    {
                        date: '2017.6',
                        order: '靠前',
                        performance: '70万',
                        recommend: '认同'
                    }

                ],
//table3
                columns3: [
                    {
                        title: '年份及月度',
                        key: 'date',
                        className:'t-columns1'
                    },
                    {
                        title: '考勤排名',
                        key: 'order',
                        className:'t-columns2'
                    },
                    {
                        title: '员工意见',
                        key: 'recommend',
                        className:'t-columns3'
                    },
                    {
                        title: '企业备注',
                        key: 'remark',
                        render: (h, params) => {
                            return h('div', [
                                h('ComponentAssessAddTip',{
                                    props:{
                                        data:this.data2[params.index]
                                    }
                                })
                            ]);
                        }
                    }
                ],
                data3: [
                    {
                        date: '2017.8',
                        order: '靠前',
                        recommend: '认同'
                    },
                    {
                        date: '2017.7',
                        order: '靠前',
                        recommend: '认同',
                        show:true
                    },
                    {
                        date: '2017.6',
                        order: '靠前',
                        recommend: '认同'
                    }

                ],
//                table4
                columns4: [
                    {
                        title: '年份及月度',
                        key: 'title',
                        className:'t-columns1'
                    },
                    {
                        title: '月度评分',
                        key: 'score'
                    }
                ],
                data4: [
                    {
                        title: '2017.8',
                        score: '业绩突出，奖励1万元'
                    },
                    {
                        title: '2017.7',
                        score: '业绩突出，奖励1万元'
                    },
                    {
                        title: '2017.6',
                        score: '业绩突出，奖励1万元'
                    },
                ],



//                编辑数据
                cityList: [
                    {
                        value: 'beijing',
                        label: '北京市'
                    },
                    {
                        value: 'shanghai',
                        label: '上海市'
                    },
                    {
                        value: 'shenzhen',
                        label: '深圳市'
                    },
                    {
                        value: 'hangzhou',
                        label: '杭州市'
                    },
                    {
                        value: 'nanjing',
                        label: '南京市'
                    },
                    {
                        value: 'chongqing',
                        label: '重庆市'
                    }
                ],
                model1: ''
            }
        },
        methods: {
            handleSearch : function(value) {
                this.data = !value ? [] : [
                    value,
                    value + value,
                    value + value + value
                ];
            },

//            属于年度总评组件
            dropdown2:function (v) {
                this.dropdown2_text = v;
            },
            show (index) {
                this.$Modal.info({
                    title: '用户信息',
                    content: `${this.data2[index].date}`
                })
            },
            remove (index) {
                this.data2.splice(index, 1);
            },
            assessInfoShow(name){

                switch(name){
                    case '1':
                        this.assessInfoBase=!this.assessInfoBase;
                        break;
                    case '2':
                        this.assessInfoBase2=!this.assessInfoBase2;
                        break;
                    case '3':
                        this.assessInfoBase3=!this.assessInfoBase3;
                        break;
                    case '4':
                        this.assessInfoBase4=!this.assessInfoBase4;
                        break;
                    case '5':
                        this.assessInfoBase5=!this.assessInfoBase5;
                        break;
                    case '6':
                        this.assessInfoBase6=!this.assessInfoBase6;
                        break;
                    default:
                        break;
                }

            }

        }
    }).$mount('#app')
</script>


</body>
</html>