<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.bootcss.com/iview/2.4.0/styles/iview.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/vue/2.4.4/vue.js"></script>
    <script src="https://cdn.bootcss.com/iview/2.4.0/iview.min.js"></script>
    <script src="https://cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="public/js/layout.js"></script>
    <link rel="stylesheet" href="public/css/app.css">
    <link rel="stylesheet" href="public/css/app.css.map">
    <style>
        html .wrap .c-header .c-head-menu .head-menu-ul li.active a{
            color: #ffff00;
            font-weight: bold;
        }

        .wallet-save-key .ivu-steps-title{
            padding-top: 3px!important;
        }
    </style>
</head>
<body>


<!--职信链，样式头为 c (chain小写) 例

头部 c-header
底部 c-footer
组件 c-component-组件名（公用部分）

无特别意义的逻辑结构以 相对有意义模块名 后，层级数字标识
例： c-component-组件名 下

组件名1>组件名1-1.

或

组件名-head>组件名-head-top>（组件名-head-top-1+组件名-head-top-2+组件名-head-top-3）

 -->

<div class="wrap" id="app">
    <div class="c-header">
        <div class="c-head-logo">
            <img src="public/images/wallet/logo2.png" alt="职信链LOGO">
        </div>
        <div class="c-head-menu" style="float: left; margin-left: 80px;">
            <ul class="head-menu-ul">
                <li class="active">
                    <a href="#">创建钱包</a>
                </li>
                <li>
                    <a href="#">查看钱包</a>
                </li>
                <li>
                    <a href="#">交易转账</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="c-body">

        <div class="component-wallet">

            <Card class="wallet-save-key" style="margin-bottom: 50px;">

                <div class="wallet-container" style="padding-bottom: 20px; padding-top: 50px;">
                    <!--基础信息-->
                    <div class="wallet-title">
                        <span class="wallet-title-1-txtBigger">钱包文件和私钥</span>
                        <span> / Save Wallet</span>
                    </div>

                    <div style="width: 600px; margin:30px auto 30px; text-align: left; font-size: 18px; color:#000;">
                        钱包文件和私钥用于打开和使用你的钱包，请保存你的钱包
                        文件和私钥。不要忘记你的密码。
                    </div>
                    <!--保存私钥-->

                    <div style="width: 600px;margin: 30px auto;border: 1px #d9d9d9 dashed;padding: 30px 0 50px;">
                        <div class="text-center">
                            <img src="public/images/wallet/1.png" style="vertical-align: middle; margin-right: 10px;" alt="">
                            <span style="font-size: 18px;color: #000000; display: inline-block; vertical-align: middle;">保存钱包文件</span>
                        </div>
                        <div class="wallet-btn" v-if="current==0">
                            <i-button size="large" class="wallet-btn-1" type="primary">保存钱包文件和私钥</i-button>
                        </div>
                    </div>

                    <div style="width: 600px;margin: 30px auto;border: 1px #d9d9d9 dashed;padding: 30px 0 50px;">
                        <div class="text-center">

                            <img src="public/images/wallet/2.png" style="vertical-align: middle; margin-right: 10px;" alt="">
                            <span style="font-size: 18px;color: #000000; display: inline-block; vertical-align: middle;">保存私钥</span>

                        </div>
                        <div class="wallet-key">

                            <div class="wallet-key-2" style="margin-top: 0;">
                                <div class="wallet-key-code">
                                    a1800eeac65ab583c0f7fd75f8ef5f63be15fc6c391e199cae9b67634859f0ad
                                </div>
                                <div class="wallet-key-copy key" style="margin-top: -8px;" data-clipboard-text="keyXXX" v-on:click="copyCode(2)">
                                    <img src="public/images/wallet/icon-copy.png" width="16" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width: 600px; margin:-20px auto 0px; color: #000; padding: 25px;font-size: 14px; text-align: left;">
                        **别弄丢了！**如果你弄丢了，就永远无法找回。
                        <br>
                        **不要分享！**如果你在其他网站上使用这个钱包文件或私钥，你的资金会有被盗风险。
                        <br>
                        **做好备份！**保证钱包安全，也许它有一天会值几百万美元。
                    </div>


                    <div style="width: 600px;margin: 10px auto 30px;border: 1px #d9d9d9 dashed;padding: 10px 0 50px;">

                        <div class="wallet-agree">
                            <checkbox v-model="single" style="font-size: 16px;" size="large">我已保存钱包文件和私钥。</checkbox>
                        </div>
                        <div class="wallet-btn">
                            <i-button size="large" class="wallet-btn-1" :disabled="!single" type="primary">进入我的钱包</i-button>
                        </div>


                    </div>

                    <div style="width: 600px; margin:-20px auto 30px; color: #000; padding: 25px;font-size: 14px; text-align: left;">
                        zhixinchain.com不会帮你保管钱包文件和私钥。我们无法更改钱包帐户、找回钱包文件、找回私钥、重置密码。保护你的重要信息并确保使用在正确的url。你要对你的钱包安全负责。
                    </div>

                </div>
            </Card>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/clipboard.js/1.7.1/clipboard.min.js"></script>
<script src="https://cdn.bootcss.com/layer/3.0.3/layer.min.js"></script>
<script>
    new Vue({
        data: function () {
            return {
                single:false,
                current:0
            }
        },
        methods: {
            showEyeHandler(){
                if(!this.showEye){
                    this.btnType='password'
                }else{
                    this.btnType='text'
                }
                this.showEye=!this.showEye;
            },
            next () {
                if (this.current == 2) {
                    this.current = 0;
                } else {
                    this.current += 1;
                }
            },
            copyCode(v){
                if(v===1){
                    var clipboard = new Clipboard('.wallet-key-copy.add');
                    clipboard.on('success', function(e) {
                        layer.msg('复制成功！')
                        console.info('Action:', e.action);
                        console.info('Text:', e.text);
                        console.info('Trigger:', e.trigger);

                        e.clearSelection();
                    });

                    clipboard.on('error', function(e) {
                        layer.msg('复制失败，请手动复制！')
                        console.error('Action:', e.action);
                        console.error('Trigger:', e.trigger);
                    });
                }else{
                    var clipboard = new Clipboard('.wallet-key-copy.key');
                    clipboard.on('success', function(e) {
                        layer.msg('复制成功！')
                        console.info('Action:', e.action);
                        console.info('Text:', e.text);
                        console.info('Trigger:', e.trigger);

                        e.clearSelection();
                    });

                    clipboard.on('error', function(e) {
                        layer.msg('复制失败，请手动复制！')
                        console.error('Action:', e.action);
                        console.error('Trigger:', e.trigger);
                    });
                }
            }
        }
    }).$mount('#app')
</script>


</body>
</html>