<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.bootcss.com/iview/2.4.0/styles/iview.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/vue/2.4.4/vue.js"></script>
    <script src="https://cdn.bootcss.com/iview/2.4.0/iview.min.js"></script>
    <script src="https://cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="public/js/layout.js"></script>
    <link rel="stylesheet" href="public/css/app.css">
    <link rel="stylesheet" href="public/css/app.css.map">
    <style>
        html .wrap .c-header .c-head-menu .head-menu-ul li.active a{
            color: #ffff00;
            font-weight: bold;
        }
    </style>
</head>
<body>


<!--职信链，样式头为 c (chain小写) 例

头部 c-header
底部 c-footer
组件 c-component-组件名（公用部分）

无特别意义的逻辑结构以 相对有意义模块名 后，层级数字标识
例： c-component-组件名 下

组件名1>组件名1-1.

或

组件名-head>组件名-head-top>（组件名-head-top-1+组件名-head-top-2+组件名-head-top-3）

 -->
<form action="#" style="position: absolute;z-index: -999;left: -9999px;">
    <input type="text" name="u-temp-user">
    <input type="password" name="u-temp-password" id="">
</form>
<div class="wrap" id="app">
    <div class="c-header">
        <div class="c-head-logo">
            <img src="public/images/logo.png" width="334" alt="职信链LOGO">
        </div>
        <div class="c-head-menu" style="float: left; margin-left: 80px;">
            <ul class="head-menu-ul">
                <li v-on:click="addClass(1)" :class="{'active':addActive==1}">
                    <a href="#">创建钱包</a>
                </li>
                <li v-on:click="addClass(2)"  :class="{'active':addActive==2}">
                    <a href="#">查看钱包</a>
                </li>
                <li v-on:click="addClass(3)" :class="{'active':addActive==3}">
                    <a href="#">交易转账</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="c-body">
        <!--保存私钥-->
        <Alert show-icon style="width: 1080px; margin: 30px auto;">
            提醒:
            <span slot="desc">
                    请使用电脑浏览器使用本钱包，暂不支持在手机上使用，APP版本钱包会在近期开放。
                </span>
        </Alert>
        <div class="component-wallet">
            <div class="wallet-info">

                <Card class="wallet-exchange-header" style="padding-bottom: 0px;">
                    <div>
                    <span>
                        账户余额：
                    </span>
                    <span>
                        10 ETH
                        <a href="#" style="font-size: 14px; margin-left: 40px;">
                            交易历史
                        </a>
                    </span>
                    <span style="float: right;">
                        钱包地址：0x1A62e58e9a4f41b70E0e1B56bA1128d8a72b83B4
                                <div class="wallet-key-copy add" style="display: inline-block;" data-clipboard-text="addXXX" v-on:click="copyCode(1)">
                                    <img src="public/images/wallet/icon-copy.png" width="16" style="margin-top:-4px;" alt="">
                                </div>
                    </span>
                    </div>

                    <div style="margin-top: 10px;">

                    </div>
                </Card>
                <Card class="wallet-exchange-body">
                    <div class="wallet-container">
                        <!--基础信息-->
                        <div class="wallet-title">
                            <span class="wallet-title-1-txtBigger">查看钱包信息</span>
                            <span> / View Wallet Info</span>
                        </div>
                        <div class="wallet-password">
                            <div>你的地址：</div>
                            <div class="copy-block">
                                <div style="border: 1px solid #d9d9d9; padding: 15px 8px; border-radius: 4px; margin-top: 20px;">
                                    {{add}}
                                </div>
                                <!--<i-input class="wallet-password-1" v-model="add" readOnly size="large" placeholder="输入" type="text">-->
                                <!--</i-input>-->
                                <div class="wallet-key-copy add" data-clipboard-text="addXXX" v-on:click="copyCode(1)">
                                    <img src="public/images/wallet/icon-copy.png" width="16" style="cursor: pointer;" alt="">
                                </div>
                            </div>
                        </div>

                        <div style="width: 520px; margin: 20px auto;">
                            <a href="javascript:;" v-on:click="showEyeHandler">备份钱包文件及私钥</a>

                        </div>
                        <div style="width: 520px; margin: 20px auto; border:1px dashed #d9d9d9; padding: 15px;" v-if="!showEye">

                            <div style="margin-top: 20px;">
                                <table>
                                    <tr>
                                        <td>输入密码： </td>
                                        <td><input type="password" placeholder="请输入密码" style="border: 1px solid #d9d9d9; padding:10px;" v-model="password"></td>
                                        <td>
                                            <button type="button" style="padding: 10px;border: none;background: #2d8cf0; color: #fff;" v-on:click="downloadValidate()">
                                                下载钱包文件
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div style="margin-top: 20px;margin-bottom: 20px;">
                                <table>
                                    <tr>
                                        <td>查看私钥： </td>
                                        <td>{{add}}</td>
                                        <td>
                                            <img src="public/images/wallet/icon-copy.png" width="16" style="cursor: pointer;margin-left: 8px;" alt="" class="wallet-key-copy key"  data-clipboard-text="addXXX" v-on:click="copyCode(2)">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </Card>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/clipboard.js/1.7.1/clipboard.min.js"></script>
<script src="https://cdn.bootcss.com/layer/3.0.3/layer.min.js"></script>
<script>


    new Vue({
        data: function () {
            return {
                password:'0x1A62e58e9a4f41b70E0e1B56bA1128d8a72b83B4',
                add:'0x1A62e58e9a4f41b70E0e1B56bA1128d8a72b83B4',
                showEye:true,
                btnType:'password',
                addActive:2,
                password:''
            }
        },
        methods: {
            showEyeHandler(){
                if(!this.showEye){
                    this.btnType='password'
                }else{
                    this.btnType='text'
                }
                this.showEye=!this.showEye;
            },
            copyCode(v){
                if(v===1){
                    var clipboard = new Clipboard('.wallet-key-copy.add');
                    clipboard.on('success', function(e) {
                        console.log(0)
                        layer.msg('复制成功！')
                        console.info('Action:', e.action);
                        console.info('Text:', e.text);
                        console.info('Trigger:', e.trigger);

                        e.clearSelection();
                        clipboard.destroy();
                    });

                    clipboard.on('error', function(e) {
                        layer.msg('复制失败，请手动复制！')
                        console.error('Action:', e.action);
                        console.error('Trigger:', e.trigger);
                        clipboard.destroy();
                    });
                }else{
                    var clipboard = new Clipboard('.wallet-key-copy.key');
                    clipboard.on('success', function(e) {
                        layer.msg('复制成功！')
                        console.info('Action:', e.action);
                        console.info('Text:', e.text);
                        console.info('Trigger:', e.trigger);

                        e.clearSelection();
                        clipboard.destroy();
                    });

                    clipboard.on('error', function(e) {
                        layer.msg('复制失败，请手动复制！')
                        console.error('Action:', e.action);
                        console.error('Trigger:', e.trigger);
                        clipboard.destroy();
                    });
                }
            },
            download(){
                window.location.href='d.zip'
            },
            downloadValidate(){
              if(this.password==123456789){
                  this.download()
              }else{
                  this.password='';
                  this.$Message.info('This is a info tip');
              }
            },
            addClass(v){
               this.addActive=v;

            }
        },
        mouted:function () {

        }
    }).$mount('#app')
</script>
<script>
//    $('.head-menu-ul li').on('click',function () {
//        $(this).addClass('active');
//        $(this).siblings().removeClass('active');
//    })
</script>

</body>
</html>