<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.bootcss.com/iview/2.4.0/styles/iview.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/vue/2.4.4/vue.js"></script>
    <script src="https://cdn.bootcss.com/iview/2.4.0/iview.min.js"></script>
    <script src="https://cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="public/js/layout.js"></script>
    <link rel="stylesheet" href="public/css/app.css">
    <link rel="stylesheet" href="public/css/app.css.map">
    <style>
        html .wrap .c-header .c-head-menu .head-menu-ul li.active a{
            color: #ffff00;
            font-weight: bold;
        }

        .wallet-save-key .ivu-steps-title{
            padding-top: 3px!important;
        }
    </style>
</head>
<body>


<!--职信链，样式头为 c (chain小写) 例

头部 c-header
底部 c-footer
组件 c-component-组件名（公用部分）

无特别意义的逻辑结构以 相对有意义模块名 后，层级数字标识
例： c-component-组件名 下

组件名1>组件名1-1.

或

组件名-head>组件名-head-top>（组件名-head-top-1+组件名-head-top-2+组件名-head-top-3）

 -->

<div class="wrap" id="app">
    <div class="c-header">
        <div class="c-head-logo">
            <img src="public/images/wallet/logo2.png" alt="职信链LOGO">
        </div>
        <div class="c-head-menu" style="float: left; margin-left: 80px;">
            <ul class="head-menu-ul">
                <li class="active">
                    <a href="#">创建钱包</a>
                </li>
                <li>
                    <a href="#">查看钱包</a>
                </li>
                <li>
                    <a href="#">交易转账</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="c-body">
        <div class="ivu-alert ivu-alert-info ivu-alert-with-icon ivu-alert-with-desc" style="width: 1080px; margin: 30px auto;">
            <span class="ivu-alert-icon">
                <i class="ivu-icon ivu-icon-information-circled"></i>
            </span>
            <span class="ivu-alert-message">提醒:</span>
            <span class="ivu-alert-desc">
                <span>
                    我们仅提供1次迁移机会，系统将把您的ZXC一次性迁移至ERC2.0钱包地址上
                </span>
            </span>
        </div>

        <div class="component-wallet">

            <Card class="wallet-save-key" style="margin: 50px auto;">

                <div class="wallet-container" style="padding:50px 0;">
                    <!--基础信息-->
                    <div class="wallet-title">
                        <span class="wallet-title-1-txtBigger">迁移职信币</span>
                        <span> / Move ZXC Tokens</span>
                    </div>

                    <div style="width: 840px;margin: 30px auto;border: 1px #d9d9d9 dashed;padding: 50px;">

                        <div class="wallet-password line-height40" style=" text-align: left;">
                            <div>ZXC余额：  {{movecount}}（迁移数量100起）</div>
                        </div>

                        <div class="wallet-password " style=" text-align: left;">
                            <div class="float-left line-height40">收币地址：</div>
                            <i-input class="wallet-password-1 float-left line-height40" v-model="password" size="large" placeholder="请填写以太坊钱包地址" type="text" style="width:620px;">
                            </i-input>
                        </div>
                        <div class="line-height40"style="width: 620px; margin:0px auto 0px; color: #000; padding: 25px;font-size: 14px; text-align: left;">
                            <span style="color:#FE596D;font-size:20px;vertical-align: middle;display: inline-block;margin-top: 5px;">*</span>
                            可以使用例如myetherwallet、imtoken或其他支持ERC2.0的钱包软件创建钱包地址

                        </div>

                    </div>

                    <div class="wallet-btn">
                        <i-button size="large" class="wallet-btn-1" type="primary">开始迁移</i-button>
                    </div>

                    <div class="line-height40"style="width: 660px; margin:0px auto 0px; color: #000; font-size: 14px; text-align: left;">
                        <span style="color:#FE596D;font-size:20px;vertical-align: middle;display: inline-block;margin-top: 5px;">*</span>
                        提示：迁移完成时间由以太坊网络状态决定，可以通过以太坊浏览器随时查看状态，请耐心等待

                    </div>

                </div>
            </Card>
        </div>
        <div class="component-wallet" style="margin-top: -25px;margin-bottom: 50px;">
            <div class="wallet-exchange-list">

                <Card class="wallet-exchange-body">
                    <div class="wallet-container" style="padding: 50px 0;">

                        <div class="wallet-title" >
                            <span> 迁移记录 </span>
                        </div>

                        <div>
                            <table align="center">
                                <tr >
                                    <td width="80">迁移数量</td>
                                    <td width="200">目标地址</td>
                                    <td width="100">时间</td>
                                    <td width="80">状态</td>
                                </tr>
                                <tr v-for="item in items" style="text-align: center;">
                                    <td>{{item.count}}</td>
                                    <td>{{item.resive}}</td>
                                    <td>{{item.date}}</td>
                                    <td>{{item.state}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </Card>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/clipboard.js/1.7.1/clipboard.min.js"></script>
<script src="https://cdn.bootcss.com/layer/3.0.3/layer.min.js"></script>
<script>
    new Vue({
        data: function () {
            return {
                movecount:'1234',
                password:'',
                items:[
                    {
                        count:'1357',
                        resive:'0x3F54A706d9892069E983ce38FEB12D4722e11E6c',
                        date:'2018-05-10     15 : 20 : 11',
                        state:'成功'
                    }
                ]
            }
        },
        methods: {

        }
    }).$mount('#app')
</script>


</body>
</html>