@charset "utf-8";
.wrap {
  .component-index{

    .head-menu-userInfo{
      @extend %head-menu-userInfo;

      .head-menu-company-diy{
        font-size: 16px;
        text-align: center;
      }
      .head-menu-person-diy{
        text-align: center;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .span-hand{
        cursor: pointer;
      }

    }

    .zi18{
      font-size: 18px;
      margin-bottom: 133px;
    }
    a{text-decoration: none;}

    /* 头部 */


    .head_fixed{
      position: fixed;width: 100%; height: 99px; z-index: 3; background: #ffffff;
    }
    #header{
      width: 1200px;
      min-width: 1200px;
      height: 99px;
      background:#ffffff;
      margin: 0 auto;
      .logo{
        float: left;
        padding-top: 14px;
        padding-right: 60px;
      }
      .menu{
        float: left;
        li{
          float: left;
          margin: 0 24px;
          list-style-type: none;
          //line-height: 99px;
          padding-top: 34px;
          width: 100px;
          text-align: center;
          &.cur{
            height: 99px;
            border-bottom: 2px solid #FE8C5F;
          }
          &.buy{
            cursor: pointer;
            //height: 94px;
            width: 100%;
            display: block;
            color: #FF500A;
          }
          &.select{
            cursor: pointer;
          }
          a{
            color: #000000;
            cursor: pointer;
            //height: 94px;
            width: 100%;
            display: block;


          }
        }
      }
    }

    #index{
      height: 524px;
      min-width:1400px;
      .banner-1{
        padding-top: 178px;
        text-align: center;
        color: white;
        font-size: 64px;
      }
      .banner-2{
        width: 840px;
        height: 60px;
        background-color: #62aeed;
        margin: 0 auto;
        margin-top: 64px;
        border-radius: 2px;
        .banner-2-1{
          display: inline-block;
          height: 60px;
          border: none;
          width: 696px;
          padding-left: 8px;
        }
        .banner-2-2{
          display: inline-block;
          width: 134px;
          text-align: center;
          padding-top: 15px;
          padding-bottom: 15px;
          color: white;
          cursor: pointer;
        }
      }

    }

    /*第二屏开始*/
    #about{
      //height: 740px;
    }
    .zi48{
      font-size: 48px;
      color: #40BEFF;
      line-height: 48px;
      display: inline-block;
      margin: 0 auto;
      padding: 0 80px;
    }
    /*标题*/
    .title{
      height: 140px;
      /*块内元素居中*/
      text-align: center;
      margin-top: 133px;
    }
    .title img{
      //margin-top: 80px;
    }
    /*小标题*/
    .title2{
      text-align: center;
      padding-top: 20px;
      line-height: 28px;
    }
    .title3{
      text-align: justify;
      padding-top: 20px;
      width: 930px;
      margin: 0 auto;
      line-height: 28px;
    }

    /*内容*/
    .bkColor-1{
      background-color: #f5f5f4;

    }
    .part-2{
      width: 1200px;
      margin: 0 auto;
      padding-top: 136px;
      padding-bottom: 144px;
    }
    .part-2-1{
      width: 560px;
      height: 501px;
      //border: 1px solid #E8E8E8;
      float: left;
      margin-left: 20px;
      span{
        color: #40BEFF
      }
      .zi24{
        width: 360px;
        text-align: left;
        //margin: 50px auto;
        margin-top: 50px;
        margin-bottom: 50px;
        line-height: 40px;
      }
      .swiper-container{
        .swiper-slide{
          img{
            //margin-left: 14px;
            //box-shadow: 0 0 6px rgba(155,155,155,0.5);
            //border-radius: 14px;
          }
        }
      }
    }
    .zi24{
      font-size: 24px;
      color: #4A4A4A;
    }
    .part-2-2{
      text-align: left;
      margin-top: 40px;
      .zi14{
        width: 300px;
        text-align: justify;
        line-height: 20px;
        display: inline-block;
      }
      img{
        padding-right: 20px;
        vertical-align: top;
      }
    }
    .zi14{
      font-size: 14px;
      color: #4A4A4A;
    }
    .part3{
      width: 1200px;
      margin: 0 auto;
      margin-top: 50px;
    }
    /*第二屏结束*/

    /*第三屏*/
    #technical{
      height: 1310px;
    }
    /*第三屏结束*/

    /*第四屏*/
    #page4{
      height: 1400px;
      .title4{
        border: 1px dashed #E8E8E8;
        text-align: justify;
        width: 810px;
        margin: 0 auto;
        line-height: 28px;
        margin-top:50px;
        padding:30px 60px;
      }
    }

    /*第四屏结束*/

    /*第五屏*/
    #team{
      height: 620px;
    }
    /*第五屏结束*/

    /*page6*/
    #page6{
      height: 2020px;
    }
    .part-6{
      width: 1200px;
      /*	display: flex;
          justify-content: space-between;
          align-content: flex-start;
          flex-wrap:  wrap;*/
      text-align: center;
      img{
        margin-bottom: 30px;

      }
      .part-6-2{
        margin: 0 auto;
        width: 760px;
        display: flex;
        justify-content: space-between;
      }

    }

    /*page6结束*/

    /*buy*/
    #buy{
      height: 630px;
    }
    .part-7{
      margin-top: 80px;
    }
    /*buy结束*/

    /*page8 购买*/
    #goumai{
      width: 100%;
      height: 10px;
      margin-top: 50px;
    }
    #page8{
      height: 850px;
    }
    .part-8{
      text-align: center;
      margin: 0px auto;
      margin-bottom: 50px;
      .part-8-1{
        margin: 20px auto;
        width: 1200px;
        display: flex;
        justify-content: space-between;
      }
      .part-8-2{
        margin: 20px auto;
        width: 760px;
        display: flex;
        justify-content: space-between;
      }
      .part-8-3{
        margin: 30px auto;
        width: 400px;
        height: 76px;
        background: #F57F23;
        text-align: center;
        line-height: 76px;
        color: #ffffff;
        cursor:pointer;
      }
    }

    /*page8结束*/

    /*page9 常见问题*/
    #page9{
      background-color: #f5f5f4;
      padding-top: 1px;

    }
    .part-9{
      margin: 60px auto;
      text-align: center;
      width: 1200px;
      ul{
        width: 920px;
        margin: 0 auto;
        text-align: left;
        li{
          border-bottom: dashed 1px #d1d1d1;
          padding-bottom: 30px;
          .question{
            font-size: 18px;
            color: #40beff;
            font-weight: bold;
            margin:30px 0 20px;
            &>div{
              display: inline-block;
              line-height: 36px;
              &:first-child{
                width: 60px;
              }
              &:last-child{
                width: 820px;
              }
            }
          }
          .answer{
            font-size: 16px;
            &>div{
              line-height: 36px;
              display: inline-block;
              &:first-child{
                width: 60px;
                vertical-align: top;
              }
              &:last-child{
                width: 820px;

              }
            }
          }
        }
      }
    }


    /*底部*/
    .backBase{
      background: #343d50;
      color: white;
      height: 300px;
      margin-left:-90px;
    }
    .tabAll{
      margin: 0 auto;
      height: 300px;
      width: 1278px;
      font-size: 13px;
    }

    .tabOne{
      .imgSpace{
        padding-left: 145px;
        padding-top: 20px;
        font-size: 14px;
        font-weight: bold;
        color: white;
      }
      .textSpace{
        padding-left: 170px;
        padding-top: 6px;
        font-weight: 100;
      }
    }

    .tabTwo{
      .imgSpace{
        padding-left: 71px;
        padding-top: 20px;
        font-size: 14px;
        font-weight: bold;
        color: white;
      }
      .textSpace{
        padding-left: 96px;
        padding-top: 6px;
        font-weight: 100;
      }
    }
    .tabThree{
      .imgSpace{
        padding-left: 50px;
        padding-top: 100px;
        font-size: 14px;
        color: white;
        float: left;
      }
    }
    .img{
      vertical-align: middle;
      margin-right: 8px;
    }
    .textSpace p{
      padding: 0px;
      margin: 2px;
      width: 70%;
    }
    .tabTwo{
      border-left: 1px solid #4c5565;
      border-right: 1px solid #4c5565;
    }
    .imgFloat{
      width: 94px;
      text-align: center;
      font-size: 12px;
      float: left;
      margin: 100px 60px;
    }
    .backBase a{
      text-decoration:none;
      out-line: none;
      color: white;
    }

    .buyNow{
      width: 174px;
      line-height: 40px;
      text-align: center;
      border-style: solid;
      border-width: 2px;
      border-color: white;
      border-radius: 6px;
      color: white;
      cursor: pointer;
      margin-left: 65%;
      display: inline-block;
      margin-left: 50px;
    }

    /**
     * 头部区块数据统计部分
     */
    #index{
      position: relative;
    }
    #content2{
      //margin-top: 95px;
      padding-top: 95px;
    }
    .qk_jiedianNum{
      //height: 110px;
      width: 1186px;
      margin: 0 auto;
      border-radius: 4px;
      background-color: #ffffff;
      box-shadow: 0 0 6px 0 #55a4ff;
      border: 4px solid #5FADFF;
      .qk_jiedianNum_1{
        background: url(../../public/images/index/jiedian_line.png) right center no-repeat;
        width: 292px;
        margin-top: 26px;
        margin-bottom: 20px;
        overflow: hidden;
        display: inline-block;
        img{
          display: inline-block;
          vertical-align: top;
          margin-left: 36px;
        }
        .qk_jiedianNum_1_1{
          display: inline-block;
        }
        .p1{
          font-size: 24px;
          color: #1B7DE2;
          margin-left: 33px;
        }
        .p2{
          font-size: 16px;
          color: #4a4a4a;
          margin-left: 33px;
          margin-top: 9px;
        }
      }

      .qk_jiedianNum_2{
        background:none;
      }

    }

    /**
    * 数据动态部分
    */
    .qk_numShow{
      text-align: center;
      width: 1200px;
      margin: 0 auto;
      margin-top: 82px;
      margin-bottom: 82px;
      .qk_numShow_table{
        width: 1200px;
        .qk_numShow_title_tr{
          height: 50px;
          background-color: #40beff;
          font-size: 16px;
          border: none;
          color: #4a4a4a;
          th{
            font-size: 16px;
            border: none;
            font-weight: 500;
            color: #4a4a4a;
          }
        }
        .qk_numShow_tr{
          height: 50px;
          font-size: 14px;
          color: #4a4a4a;
          td{
            border-bottom: solid 1px #e8e8e8;
          }
          .color_blue{
            color: #40beff;
          }
        }
      }
    }


    .loginAndSignIn{
      .span1{
        display: inline-block;
        background-color: white;
        width: 92px;
        text-align: center;
        height: 46px;
        line-height: 43px;
        color: #40beff;
        border-color: #40beff;
        border-style: solid;
        border-width: 2px;
        border-radius: 6px;
        cursor: pointer;
      }
      .span2{
        display: inline-block;
        background-color: #40beff;
        width: 92px;
        text-align: center;
        height: 46px;
        line-height: 43px;
        color: white;
        border-color: #40beff;
        border-style: solid;
        border-width: 2px;
        border-radius: 6px;
        margin-left: 12px;
        cursor: pointer;
      }
    }
  }
}