@charset "utf-8";
.wrap{
  &.login{
    width: 100%;
    height: 890px;
    .login-1 img{
      margin-top: 59px;
      margin-left: 71px;
    }
    .login-2{
      text-align: center;
      margin-top: 90px;
      font-size: 25px;
      font-weight: 500;
      color: #1c2438;
      letter-spacing: -0.8px;
    }
    .login-2-txtBigger{
      font-size: 54px;
    }
    .login-3{
      width: 478px;
      //height: 256px;
      margin: 0 auto;
      text-align: center;
      background-color: #ffffff;
      //background-color: #f4eded;
    }
    .bottomLine{
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: #d8d8d8;
    }
    .sce_line{
      //position: absolute;
      bottom: -1px;
      left: 0;
      //width: 100%;
      width: 0;
      height: 2px;
      background: #08a8ff;
      transition: width .4s ease-out;
    }
    .login-3-1{
      font-size: 20px;
      font-weight: 500;
      letter-spacing: -0.3px;
      line-height: 84px;
      .span1{
        display: inline-block;
        line-height: 84px;
        margin-right: 40px;
        width: 90px;
        cursor: pointer;
      }
      .span2{
        display: inline-block;
        line-height: 84px;
        margin-left: 40px;
        width: 90px;
        cursor: pointer;
      }
      .active{
        border-bottom-style: solid;
        border-bottom-width: 4px;
        border-bottom-color: #3b99ff;
      }
    }
    .login-3-2{
      height: 84px;
      input{
        background: none;
        outline: none;
        border: 0px;
        line-height: 44px;
        height: 44px;
        width: 98%;
        margin-top: 31px;
        font-size: 15px;
        color: #797777;
      }
    }

    .login4-active{
      color: #108ee9;
      cursor: pointer;
    }
    .login-4{
      text-align: center;
      font-size: 15px;
      margin-top: 32px;
      margin-bottom: 32px;
      span{
        display: inline-block;
        width: 100px;
        cursor: pointer;
      }
    }
    .login-5{
      font-size: 15px;
      width: 478px;
      line-height: 44px;
      margin: 0 auto;
      text-align: center;
      color: white;
      background-color: #108ee9;
      border-radius: 5px;
      cursor: pointer;
    }

    /*
     *以下是注册页面的追加样式
     */
    .signUp-1{
      font-size: 15px;
      span{
        display: inline-block;
        width: 75px;
      }
    }
    .signUp-2{
      text-align: center;
      width: 100%;
      height: 90px;
      line-height: 90px;
      background-color: #2d8cf0;
      position: fixed;
      color: white;
      left: 0;
      right: 0;
      bottom: 0;
    }
    /*
     * 以下为找回密码追加样式
     */
    .getBackPwd{
      margin-top: 80px;
    }

  }


}