@charset "utf-8";
.content-note{
  padding-top: 131px;
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
  .text-top{
    color: #298CFF;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    cursor: pointer;
    .arrow{
      padding: 0 10px;
    }
  }
  .text-left{
    width: 240px;
    color: #333D50;
    font-size: 16px;
    margin-right: 40px;
    float: left;
    p{
      font-weight: 700;
      padding-top: 20px;
      padding-bottom: 40px;
    }
    li{
      cursor: pointer;
      padding: 10px 0;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
    a{
      color: #333D50;
    }
  }
  .text-center{
    width: 800px;
    float: left;
    text-align: left;
    color: #333D50;
    .p1{
      font-size: 30px;
      padding-bottom: 20px;
    }
    .p2{
      font-size: 18px;
      color: #BBBBBB;
      padding-bottom: 50px;
    }
    div{
      font-size: 16px;
      p{
        padding-bottom: 20px;
      }
      li{
        height: 60px;
        font-size: 16px;
        line-height: 60px;
        border-bottom: 1px solid #D2D2D2;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        white-space: nowrap;
        a{
          color: #333D50;
          cursor: pointer;
        }
      }
    }
  }


}