<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" href="public/css/app.css">
    <link rel="stylesheet" href="public/css/investors-fuli.css">
    <title>职信链，基于区块链技术的职业信用数字资产平台</title>
    <meta name="Keywords" content="职信链,职信,职业履历,区块链,管人工具,阅人工具,数字资产">
    <meta name="Description" content="职信链，基于区块链技术的职业信用数字资产平台。职信是一个人的职场行为客观记录仪，记录例如担任职位、劳动合同起止时间、薪水情况、每月考勤情况等。在职信链中，用人企业可记录每位员工的职信情况，且一旦发布，永不可更改或删除。使用职信链可以能增强员工的自我驱动力，极大节省了企业的培训成本和管理成本，使工作效率大大提高。">
    <script src="https://cdn.bootcss.com/vue/2.4.4/vue.js"></script>
    <script src="public/js/rem.js"></script>
</head>
<body>
     <div class="wrap" id="app">
         <div>
             <img src="public/images/fulibaozhang.png" style="width: 3.75rem;max-width: 3.75rem;">
         </div>
         <div class="content-body">
             <div class="content-1">
                 职信链社区“好人无忧”健康福利登记表
             </div>
             <div class="content-2">
                 <p>全球区块链社区第一个全民终身健康保障！</p>
                 <p>持币仅2万个，</p>
                 <p>即可终身免费享有10万元健康福利！</p>
             </div>
             <div class="content-3" >
                 <div></div>
                 <p>一、福利保障内容：</p>
             </div>
             <div class="content-4" >
                 <table>
                     <tr>
                         <th colspan="3" style="width: 3.2rem;">所有职信币持有者：享受终身免费健康福利<br>保障10/30万元</th>
                     </tr>
                     <tr>
                         <th style="width:0.8rem;"></th>
                         <th style="width:1.3rem;"><p>福利保障</p><p>A10万元</p></th>
                         <th style="width:1.3rem;"><p>福利保障</p><p>B30万元</p></th>
                     </tr>
                     <tr>
                         <th style="width:.8rem;">持币数量</th>
                         <td style="width:1.3rem;"><p>2万个以上，总量2000名 <br> 之后为3万个以上</p></td>
                         <td style="width:1.3rem;"><p>6万个以上，总量2000名 <br> 之后为9万个以上</p></td>
                     </tr>
                     <tr>
                         <th style="width:.8rem;">福利保障金额</th>
                         <td style="width:1.3rem;"><p>100万个职信币（最高10万人民币等值的职信币）</p></td>
                         <td style="width:1.3rem;"><p>300万个职信币（最高30万人民币等值的职信币）</p></td>
                     </tr>
                     <tr>
                         <th style="width:.8rem;">受助人<br>类别</th>
                         <td colspan="2" style="width:2.6rem;"><p>限中国大陆居民，身体健康，不超55周岁。其他不限。</p></td>
                     </tr>
                     <tr>
                         <th style="width:.8rem;">人数限制</th>
                         <td colspan="2" style="width:2.6rem;"><p>首期3个月限3万人；二期12个月限20万人；三期24个月限200万人</p></td>
                     </tr>
                     <tr>
                         <th style="width:.8rem;">生效时间</th>
                         <td colspan="2" style="width:2.6rem;"><p>登陆交易所之日起，登记钱包内持不少于以上数量职信币6个月即可生效</p></td>
                     </tr>
                     <tr>
                         <th style="width:.8rem;">费用支出</th>
                         <td colspan="2" style="width:2.6rem;"><p>由职信链全球公益基金支出，参与者无需负担任何费用</p></td>
                     </tr>

                 </table>
             </div>
             <div class="content-3" >
                 <div></div>
                 <p>二、细则：</p>
             </div>
             <div class="content-5">
                 <p><strong>1、钱包要求：</strong>一个钱包地址只能对应一个受助人；参与保障的币应来源于职信链基金会或基金会授权渠道机构；</p>
                 <p><strong>2、退出与接续：</strong>持币量少于规定数量则视为自动退出福利保障。再次补齐要求持币量6个月后福利保障再次生效，所有数据以区块链浏览器查询结果为准；</p>
                 <p><strong>3、交易：</strong>该部分币自由交易，不受限制；</p>
                 <p><strong>4、福利支付：</strong>受助人在发生重大疾病时，向基金会发出保障申请，申请审核通过后，一次性支付全部福利金。支付方式为职信币，当职信币币值不高于0.1元时，支付100/300万个职信币；高于0.1元时，支付10/30万人民币等值的职信币；</p>
                 <p>5、根据职信币价格，未来如涉及到要求的最低持币量调整，会在官网www.zhixinchain.io公示；</p>
                 <p>6、符合《职信链社区“好人无忧”终身健康福利保障公约》和《健康要求》规定及职信链全球公益基金管理规定。</p>
                 <p><strong>7、健康福利参与请联系官方客服人员，客服微信：xzlyybm、deepblue0922</strong></p>
                 <p>
                     <img src="public/images/fuli2.jpg" style="width: 1.3rem;max-width: 1.3rem;display: inline-block;">
                     <img src="public/images/fuli1.jpg" style="width: 1.3rem;max-width: 1.3rem;display: inline-block;">
                 </p>
                 </div>
             <div class="content-6">
                 <div class="content-6-1">
                     <p><strong>本人微信号</strong> <span class="part-1">*</span></p>
                     <p class="part-2">是微信号，不是微信昵称，准确填写，防止后期联系不上</p>
                     <input type="text" placeholder="请填写本人微信号" class="input-text" v-model="weixin" >
                 </div>
                 <div class="content-6-1">
                     <p><strong>本人手机号</strong> <span class="part-1">*</span></p>
                     <p class="part-2">准确填写，防止后期联系不上</p>
                     <input type="text" placeholder="请填写本人手机号" class="input-text" v-model="phone">
                 </div>
                 <div class="content-6-1">
                     <p><strong>职信链钱包地址</strong> <span class="part-1">*</span></p>
                     <p class="part-2">非常重要，一定准确填写。钱包地址是这样的：1Lkfp4CcaRUEbLQT56Z8bttt5jPweggsai</p>
                     <input type="text" placeholder="请填写职信链钱包地址" class="input-text" v-model="zxt">
                 </div>
                 <div class="content-6-1">
                     <p><strong>福利等级</strong> <span class="part-1">*</span></p>
                     <div>
                         <input type="radio" style="width: 0.16rem;height: 0.16rem; margin-top: 0.05rem;vertical-align: text-bottom;">
                         <span class="text-1" >福利A -10万元</span>
                     </div>
                     <div>
                         <input type="radio" style="width: 0.16rem;height: 0.16rem; margin-top: 0.05rem;vertical-align: text-bottom;">
                         <span class="text-1" >福利B -30万元</span>
                     </div>
                 </div>
                 <div class="content-6-1">
                     <p><strong>与受助人的关系 </strong> <span class="part-1">*</span></p>
                     <div>
                         <input type="radio" style="width: 0.16rem;height: 0.16rem; margin-top: 0.05rem;vertical-align: text-bottom;">
                         <span class="text-1" >本人</span>
                     </div>
                     <div>
                         <input type="radio" style="width: 0.16rem;height: 0.16rem; margin-top: 0.05rem;vertical-align: text-bottom;">
                         <span class="text-1" >本人亲属</span>
                     </div>
                     <div>
                         <input type="radio" style="width: 0.16rem;height: 0.16rem; margin-top: 0.05rem;vertical-align: text-bottom;">
                         <span class="text-1" >员工</span>
                     </div>
                     <div>
                         <input type="radio" style="width: 0.16rem;height: 0.16rem; margin-top: 0.05rem;vertical-align: text-bottom;">
                         <span class="text-1" >好友</span>
                     </div>
                 </div>
                 <div class="content-6-1">
                     <p><strong>受助人身份证号</strong> <span class="part-1">*</span></p>
                     <p class="part-2">限中国大陆居民，不超55周岁</p>
                     <input type="text" placeholder="请填写受助人身份证号" class="input-text" v-model="idcard">
                 </div>
             </div>
             <div class="content-7">
                 <button>提交</button>
             </div>

         </div>

     </div>


     <script>
         new Vue({
             data: function () {
                 return {
                     weixin: '',
                     phone:'',
                     zxt:'',
                     idcard:''
                 }
             },
             methods: {

             }
         }).$mount('#app')
     </script>
</body>
</html>