//  徽标 组件化
%component-badge{
  background: #F1F1F1;
  border-radius: 3px;
  color: #000000;
  padding: 8px 12px;
  font-size: 18px;
  &.small{
    font-size: 14px;
  }
}
%badge{
  border-radius: 6px;
  display: inline-block;
  background-color: transparent;
}
%ivu-btn-ghost {
  width: 220px;
  height: 52px;
  font-size: 16px;
  &.active{
    color: #57a3f3;
    background-color: transparent;
    border-color: #57a3f3;
  }
}
.component-assess-add-tip{
  .ivu-btn{
    font-size: 14px;

  }
}

.component-modal-auth{
  .modal-1{
    .add-employ-container {
      .add-employ-head {
        text-align: center;
        margin-top: 50px;
        .add-employ-title {
          color: #1c2438;
          .e-title-1 {
            font-size: 40px;
          }
          .e-title-2 {
            font-size: 20px;
          }

        }
      }
      .add-employ-body {
        .body-1{
          margin-top: 44px;
          font-size: 14px;
        }
        .body-2{
          margin-top: 44px; margin-bottom: 88px;
        }
      }
    }
  }
  .modal-2{
    .add-employ-container {
      .add-employ-head {
        text-align: center;
        margin-top: 50px;
        .add-employ-title {
          color: #1c2438;
          .e-title-1 {
            font-size: 80px;
            color: #15a8ff;
          }
          .e-title-2 {
            font-size: 30px;
          }

        }
      }
      .add-employ-body {

        .body-1{
          margin-top: 44px;
          font-size: 14px;
        }
        .body-2{
          margin-top: 44px; margin-bottom: 88px;
        }
      }
    }
  }

  .modal-3{
    .add-employ-container {
      .add-employ-head {
        text-align: center;
        margin-top: 50px;
        .add-employ-title {
          color: #1c2438;
          .e-title-1 {
            font-size: 80px;
            color: #ffb242;
          }
          .e-title-2 {
            font-size: 30px;
          }

        }
      }
      .add-employ-body {

        .body-1{
          margin-top: 44px;
          font-size: 14px;
        }
        .body-2{
          margin-top: 30px; margin-bottom: 88px;
        }
        .body-3{
          margin-top: 30px;
        }
      }
    }
  }

  .modal-4{
    .add-employ-container {
      .add-employ-head {
        text-align: center;
        margin-top: 50px;
        .add-employ-title {
          color: #1c2438;
          .e-title-1 {
            font-size: 40px;
          }
          .e-title-2 {
            font-size: 20px;
          }

        }
      }
      .add-employ-body {
        .body-1{
          width: 80%;
          margin: 44px auto 80px;
          font-size: 14px;
        }
      }
    }
  }

}

html,body{
  width: 100%;
  height: 100%;
  background: #ffffff;
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;

  ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  img{
    vertical-align: middle;
  }
  .left{
    float: left;
  }
  .right{
    float: right;
  }
  .clearFix:after{
    content: ' ';
    display: block;
    clear: both;
  }
  .overflow{
    overflow: hidden;
  }
  .text-center{
    text-align: center;
  }
  .text-left{
    text-align: left;
  }
  .text-right{
    text-align: right;
  }

  .wrap{
    width: 100%;
    height: 100%;
    min-width: 1400px;
    /*公共头,菜单,搜索,退出,logo,*/
    .c-header{
      background-color: #1B7CE1;
      background-image: linear-gradient(126deg, #1B7CE1 0%, #23A2FE 100%);
      height: 80px;
      .c-head-logo{
        float: left;
        padding-top: 12px;
        padding-left: 36px;
      }
      .c-head-menu{
        color: #ffffff;
        float: right;
        .head-menu-ul{
          li{
            float: left;
            height: 80px;
            line-height: 80px;
            margin-right: 84px;
            vertical-align: middle;
            a{
              color: #ffffff;
            }
            .c-head-user{
              &>div{
                float: left;
              }
              .user-photo{
                padding-right: 40px;
                img{
                  width: 39px;
                  height: 39px;
                  border-radius: 50%;
                }
              }
              .user-logOut{
                padding-left: 40px;
              }
            }
          }
          .head-message-badge{
            @extend %badge;
          }
        }
      }
    }
    /*body,left-tree,right-content*/
    .c-body{
      height: 100%;
      .c-body-left{
        height: 100%;
        width: 320px;
        margin-bottom: -10000px;
        padding-bottom: 10000px;
        overflow: hidden;
        background: #F5F7F9;
        .body-left-search{
          text-align: center;
          padding: 16px 0;
          .ivu-auto-complete{
            text-align: left;
          }
        }
        .body-left-CName{
          background-color: #1B7CE1;
          background-image: linear-gradient(126deg, #1B7CE1 0%, #23A2FE 100%);
          height: 64px;
          line-height: 64px;
          text-align: center;
          font-size: 20px;
          color: #ffffff;
        }
        .left-body-container{
          margin-left: 50px;
          //tree在、离职
          .tree-employ{
            margin-left: 10px;
            margin-top: 8px;
            %employ-on-block{
              height: 48px;
              line-height: 48px;
              .employ-icon{
                margin-top: -4px;
              }
              .employ-title{
                margin-left: 20px;
                display: inline-block;
                min-width: 100px;
              }
              .employ-count{
                margin-left: 20px;
              }
            }
            &.employ-on{
              .employ-on-block{
                @extend %employ-on-block;
              }
              color: #298cff;
              font-weight: bold;
            }
            &.employ-off{
              .employ-on-block{
                @extend %employ-on-block;
              }
              color: #4A4A4A;
              font-weight: bold;
            }
          }
          //树-组件
          .component-tree{
            @extend %component-tree;
          }
        //  添加部门
          .tree-addGroup,.tree-setting{
            width: 230px;
            height: 48px;
            line-height: 48px;
            border-radius: 24px;
            border:1px solid #298CFF;
            color: #298CFF;
            text-align: center;
            margin-top: 28px;
            margin-bottom: 18px;
            span{
              margin-left:8px;
            }
            &.active{
              background: #298CFF;
              color: #ffffff;
            }
          }
        }
      }
      .c-body-container{
        margin-left: 320px;
        height: 100%;
        .component-dashboard{
          @extend %component-dashboard;
        }

        .component-employ{
          @extend %component-employ
        }
        .component-employ-add{
          @extend %component-employ-add;
        }
      }

    }

  }

}

