@import "//cdn.bootcss.com/normalize/7.0.0/normalize.min.css";
body {
  font-family: 'Hiragino Sans GB', "microsoft yahei", "\5FAE\8F6F\96C5\9ED1", tahoma, arial, '\5b8b\4f53', sans-serif;
  -webkit-font-smoothing: antialiased; }

ul, li {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

.wrap {
  position: relative;
  padding-top: 100px; }
  .wrap .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #ffffff;
    height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: -1px 0 1px rgba(0, 0, 0, 0.1); }
    .wrap .header .header-container {
      width: 1200px;
      margin: 15px auto; }
      .wrap .header .header-container > div {
        display: inline-block;
        vertical-align: middle; }
      .wrap .header .header-container .logo {
        width: 250px; }
      .wrap .header .header-container .menu {
        text-align: right;
        width: 940px; }
        .wrap .header .header-container .menu > div {
          display: inline-block; }
          .wrap .header .header-container .menu > div ul li {
            float: left;
            margin-right: 65px; }
            .wrap .header .header-container .menu > div ul li a {
              color: #4a4a4a; }
              .wrap .header .header-container .menu > div ul li a:hover {
                color: #FB9002; }
            .wrap .header .header-container .menu > div ul li.active a {
              color: #FB9002; }
          .wrap .header .header-container .menu > div ul.trans li {
            margin: 0 8px; }
  .wrap .body-wrap .banner {
    min-width: 1200px;
    height: 620px; }
    .wrap .body-wrap .banner.en {
      background: url(../images/en/banner.jpg) center top no-repeat; }
    .wrap .body-wrap .banner.zh {
      background: url(../images/zh/banner.jpg) center top no-repeat; }
  .wrap .body-wrap .body-about {
    width: 950px;
    margin: 0 auto;
    padding-bottom: 150px;
    padding-top: 110px; }
    .wrap .body-wrap .body-about .about1 .title {
      color: #333333;
      font-size: 32px;
      text-align: center;
      font-weight: bold; }
    .wrap .body-wrap .body-about .about1 .body {
      line-height: 36px;
      color: #4a4a4a;
      font-size: 18px;
      margin-top: 20px;
      background: url(../images/content-block-title1.png) center no-repeat;
      width: 960px;
      height: 160px;
      display: table; }
      .wrap .body-wrap .body-about .about1 .body div {
        text-align: center;
        padding: 0 140px;
        display: table-cell;
        vertical-align: middle; }
    .wrap .body-wrap .body-about .about2 {
      margin-top: 115px; }
      .wrap .body-wrap .body-about .about2 > div {
        display: inline-block;
        width: 320px;
        text-align: center;
        vertical-align: top; }
        .wrap .body-wrap .body-about .about2 > div .title {
          font-size: 20px;
          margin-top: 30px; }
        .wrap .body-wrap .body-about .about2 > div .sub-title {
          color: #9b9b9b;
          font-size: 14px;
          margin-top: 20px;
          line-height: 24px; }
        .wrap .body-wrap .body-about .about2 > div:first-child {
          width: 240px;
          margin-left: 0px;
          margin-right: 80px; }
        .wrap .body-wrap .body-about .about2 > div:last-child {
          width: 180px;
          margin-right: 0;
          margin-left: 100px; }
  .wrap .body-wrap .body-app {
    background: #442577;
    min-width: 1200px; }
    .wrap .body-wrap .body-app .title {
      padding-top: 120px;
      font-size: 32px;
      text-align: center;
      color: #ffffff;
      font-weight: bold; }
    .wrap .body-wrap .body-app .subTitle {
      padding-top: 50px;
      font-size: 18px;
      text-align: center;
      color: #ffffff;
      font-weight: bold;
      line-height: 36px; }
    .wrap .body-wrap .body-app .body {
      margin-top: 100px;
      text-align: center;
      padding-bottom: 130px; }
  .wrap .body-wrap .body-roadmap {
    background: #F5F5F5 url(../images/content-block2-bg.png) center 200px no-repeat;
    height: 700px;
    min-width: 1200px; }
    .wrap .body-wrap .body-roadmap .title {
      padding-top: 120px;
      font-size: 32px;
      text-align: center;
      color: #333333;
      font-weight: bold; }
    .wrap .body-wrap .body-roadmap .body {
      margin-top: 160px;
      text-align: center; }
  .wrap .body-wrap .body-buy {
    min-width: 1200px; }
    .wrap .body-wrap .body-buy .title {
      padding-top: 120px;
      font-size: 32px;
      text-align: center;
      color: #333;
      font-weight: bold; }
    .wrap .body-wrap .body-buy .subTitle {
      padding-top: 50px;
      font-size: 18px;
      text-align: center;
      color: #333;
      line-height: 36px; }
    .wrap .body-wrap .body-buy .body {
      margin-top: 80px;
      text-align: center;
      padding-bottom: 30px; }
      .wrap .body-wrap .body-buy .body .body-1-title {
        font-size: 22px;
        text-align: center;
        color: #333;
        font-weight: bold; }
      .wrap .body-wrap .body-buy .body .body-table {
        border: 1px solid #7058A0;
        width: 900px;
        margin: 50px auto 0; }
        .wrap .body-wrap .body-buy .body .body-table table {
          width: 100%;
          border-spacing: 0;
          border-collapse: collapse; }
          .wrap .body-wrap .body-buy .body .body-table table tr td {
            height: 60px;
            padding: 10px 0;
            vertical-align: middle;
            border-bottom: 1px solid #d9d9d9;
            text-align: left;
            padding-left: 60px;
            position: relative; }
            .wrap .body-wrap .body-buy .body .body-table table tr td img {
              cursor: pointer; }
            .wrap .body-wrap .body-buy .body .body-table table tr td .noSuportCopy {
              display: none;
              position: absolute;
              font-size: 12px;
              white-space: nowrap;
              left: 20px;
              top: 60px; }
              .wrap .body-wrap .body-buy .body .body-table table tr td .noSuportCopy.en {
                left: 0; }
            .wrap .body-wrap .body-buy .body .body-table table tr td .span-rmb {
              font-size: 14px;
              color: #666; }
            .wrap .body-wrap .body-buy .body .body-table table tr td:first-child {
              text-align: center;
              background: #F7F7F7;
              width: 200px;
              padding-left: 0; }
            .wrap .body-wrap .body-buy .body .body-table table tr td:last-child {
              text-align: center;
              width: 100px;
              padding-left: 0; }
          .wrap .body-wrap .body-buy .body .body-table table tr:last-child td {
            border-bottom: none;
            padding-left: 0;
            font-weight: bold; }
            .wrap .body-wrap .body-buy .body .body-table table tr:last-child td:first-child {
              text-align: center;
              background: none; }
  .wrap .body-wrap .body-faq {
    margin-top: 150px; }
    .wrap .body-wrap .body-faq .title {
      font-size: 32px;
      text-align: center;
      font-weight: bold; }
    .wrap .body-wrap .body-faq .body {
      width: 1000px;
      margin: 0 auto; }
      .wrap .body-wrap .body-faq .body .faq {
        margin-top: 100px;
        padding-left: 80px; }
        .wrap .body-wrap .body-faq .body .faq .question {
          font-size: 24px;
          font-weight: bold; }
        .wrap .body-wrap .body-faq .body .faq .answer {
          font-size: 16px;
          color: #9b9b9b;
          line-height: 24px;
          margin-top: 33px; }
        .wrap .body-wrap .body-faq .body .faq.faq1 {
          background: url(../images/content-block3-title1.png) 0 0 no-repeat; }
        .wrap .body-wrap .body-faq .body .faq.faq2 {
          background: url(../images/content-block3-title2.png) 0 0 no-repeat; }
        .wrap .body-wrap .body-faq .body .faq.faq3 {
          background: url(../images/content-block3-title3.png) 0 0 no-repeat; }
        .wrap .body-wrap .body-faq .body .faq.faq4 {
          background: url(../images/content-block3-title4.png) 0 0 no-repeat; }
  .wrap .body-wrap .body-support {
    padding-top: 150px;
    width: 1200px;
    margin: 0 auto;
    text-align: center; }
    .wrap .body-wrap .body-support .title {
      font-size: 32px;
      font-weight: bold; }
    .wrap .body-wrap .body-support > div .subTitle {
      margin-top: 100px;
      font-size: 22px;
      font-weight: bold; }
    .wrap .body-wrap .body-support > div .body {
      margin-top: 60px; }
      .wrap .body-wrap .body-support > div .body li {
        margin: 8px;
        display: inline-block;
        vertical-align: middle; }
  .wrap .footer {
    margin-top: 160px;
    text-align: center;
    background: #f5f5f5;
    color: #9b9b9b;
    padding: 20px 0; }
    .wrap .footer .f-f1 {
      font-size: 14px;
      padding-right: 20px;
      padding-bottom: 10px; }
      .wrap .footer .f-f1 span {
        font-size: 16px;
        display: inline-block;
        vertical-align: middle;
        margin-top: -4px; }
    .wrap .footer .f-f2 span {
      font-size: 14px;
      display: inline-block;
      border-left: 1px solid #d9d9d9;
      padding: 0 12px; }
      .wrap .footer .f-f2 span:first-child {
        border-left: none; }

/*# sourceMappingURL=main.css.map */
